<%- include("partials/dashboardhead"); -%>

 <style>
  .analytics {
   height: 50vh;
  }
 </style>

 <main class="content container justify-content-center">

  <!-- TradingView Widget BEGIN -->
  <div class="tradingview-widget-container">
   <div id="tradingview_9e5d9" class="analytics"></div>

   <script type="text/javascript" src="https://s3.tradingview.com/tv.js"></script>
   <script type="text/javascript">
    new TradingView.widget(
     {
      "autosize": true,
      "symbol": "NASDAQ:AAPL",
      "interval": "D",
      "timezone": "Etc/UTC",
      "theme": "dark",
      "style": "1",
      "locale": "en",
      "toolbar_bg": "#f1f3f6",
      "enable_publishing": false,
      "allow_symbol_change": true,
      "container_id": "tradingview_9e5d9"
     }
    );
   </script>
  </div>
  <!-- TradingView Widget END -->
 </main>
 </div>



 <%- include("partials/dashfooter"); -%>