<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>CTE Brokers</title>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.13.0/css/all.css"
    integrity="sha384-Bfad6CLCknfcloXFOyFnlgtENryhrpZCe29RTifKEixXQZ38WheV+i/6YWSzkz3V" crossorigin="anonymous" />
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <link rel="shortcut icon" href="/images/favicon (2).png" type="image/x-icon">

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
    crossorigin="anonymous"></script>

  <link rel="stylesheet" href="/styles.css">

  <style>
    h5.hero-info {
      color: rgb(227, 233, 53) !important;
    }
  </style>
</head>

<body>

  <div class="hero">
    <div id="google_translate_element" class="text-center pt-2"></div>
    <nav class="navbar text-white navbar-expand-md bg-transparent ">
      <div class="container text-white d-flex flex-row">
        <img src="/images/LogoMakr.png" alt="" class="navbar-brand">

        <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar"
          aria-controls="offcanvasNavbar">
          <i class="fas fa-bars"></i>
        </button>

        <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" href="#">Services</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Markets</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Data</a>
            </li>


            <li class="nav-item">
              <a class="nav-link" href="#">Contact us</a>
            </li>

            <li class="nav-item">
              <button class="btn-login"><a href="/login">Login</a></button>
            </li>
          </ul>
        </div>

        <div class="offcanvas offcanvas-top" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
          <div class="offcanvas-header">
            <h5 class="offcanvas-title" id="offcanvasNavbarLabel">CTE Brokers</h5>
            <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
          </div>
          <div class="offcanvas-body">
            <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
              <li class="nav-item">
                <a class="nav-link active item-canvas" aria-current="page" href="#">Home</a>
              </li>
              <li class="nav-item ">
                <a class="nav-link item-canvas" href="#">Services</a>
              </li>
              <li class="nav-item">
                <a class="nav-link item-canvas" href="#">Contact us</a>
              </li>
              <li class="nav-item">
                <a class="nav-link item-canvas" href="#">Markets</a>
              </li>

              <li class="nav-item">
                <button class="btn-login">Login</button>
              </li>
            </ul>

          </div>
        </div>
      </div>
    </nav>

    <div class="hero-header d-block container">
      <h1 class="hero-title">THE WORLD'S LEADING AND MOST DIVERSE DERIVATIVES MARKETPLACE.</h1>

      <h5 class="hero-info ">OUR SOLUTIONS</h5>

      <p class="hero-help">We've helped over 10,000 people start Bitcoin investing. Build your future.</p>
      <button class="btn-login mb-1 mb-lg gs_reveal">
        <a href="/register">GET STARTED</a>
      </button>
    </div>

    <div
      class="hero-container d-flex flex-column flex-sm-column flex-md-row flex-lg-row mx-auto justify-content-center index-z gs_reveal">
      <div class="justify-content-center index-z ">
        <button class="accordion first-accordion">EXPLORE NEW OFFERINGS</button>
        <div class="panel">
          <p>
            CTE Group is focused on delivering new ways to manage risk and improve performance. Whether it's a new
            futures contract
            for the evolving cryptocurrency market, tracking emerging benchmarks like CTE SOFR Term Reference Rate or
            backtesting
            alternative data sets, new opportunities are always waiting our market participants.
          </p>
        </div>
      </div>

      <div>
        <button class="accordion">ACCESS GLOBAL MARKETS</button>
        <div class="panel">
          <p>Explore products across six major asset classes to find opportunities, diversify and fine-tune your
            portfolio using
            standard, E-mini or Micro-sized contracts, and capture efficiencies with leading-edge technology as a core
            part of your
            trading strategy. Respond instantly to global, market-moving events with trading access nearly 24 hours a
            day, six days
            a week.</p>
        </div>
      </div>

      <div>
        <button class="accordion">LEARN MORE</button>
        <div class="panel">
          <p>Register and access premium tools that help you evaluate your customized product portfolios, or discover
            capital
            efficiencies with our suite of services..</p>
          <button class="btn-login my-3">Get Started</button>
        </div>
      </div>
    </div>
  </div>

  <!-- TradingView Widget BEGIN -->
  <div class="tradingview-widget-container mt-4">
    <div class="tradingview-widget-container__widget"></div>
    <div class="tradingview-widget-copyright"><a href="https://www.tradingview.com" rel="noopener" target="_blank"><span
          class="blue-text"></span></a>
    </div>
    <script type="text/javascript" src="https://s3.tradingview.com/external-embedding/embed-widget-ticker-tape.js"
      async>
        {
          "symbols": [
            {
              "proName": "FOREXCOM:SPXUSD",
              "title": "S&P 500"
            },
            {
              "proName": "FOREXCOM:NSXUSD",
              "title": "US 100"
            },
            {
              "proName": "FX_IDC:EURUSD",
              "title": "EUR/USD"
            },
            {
              "proName": "BITSTAMP:BTCUSD",
              "title": "Bitcoin"
            },
            {
              "proName": "BITSTAMP:ETHUSD",
              "title": "Ethereum"
            },
            {
              "description": "Tot",
              "proName": "CRYPTOCAP:TOTAL2"
            },
            {
              "description": "Ada",
              "proName": "BINANCE:ADAUSDT"
            }
          ],
            "showSymbolLogo": true,
              "colorTheme": "dark",
                "isTransparent": true,
                  "displayMode": "compact",
                    "locale": "en"
        }
      </script>
  </div>
  <!-- TradingView Widget END -->

  <div
    class="d-flex flex-column flex-sm-column flex-md-row flex-lg-row bd-highlight mb-3 gradient-section flex-wrap py-4">
    <h1 class="market-title"></h1>
    <p class="market-desc gs_reveal">Get indept insight on the market with our advanced indept technical analysis to
      guide you
    </p>
    <p class="market-info gs_reveal">Learn about products, add them to your portfolio and sync with our mobile app.</p>
    <p class="market-quotes gs_reveal">Quotes are delayed by at least 10 minutes. <br>
    <h6 class="market-date gs_reveal" id="date"></h6>
    </p>
    <div class="gradient-1 gs_reveal">
      <!-- TradingView Widget BEGIN -->
      <div class="tradingview-widget-container">
        <div class="tradingview-widget-container__widget"></div>
        <div class="tradingview-widget-copyright"><a
            href="https://www.tradingview.com/markets/currencies/forex-cross-rates/" rel="noopener"
            target="_blank"><span class="blue-text">Exchange Rates</span></a> by TradingView</div>
        <script type="text/javascript"
          src="https://s3.tradingview.com/external-embedding/embed-widget-forex-cross-rates.js" async>
            {
              "width": "100%",
                "height": "100%",
                  "currencies": [
                    "EUR",
                    "USD",
                    "JPY",
                    "GBP",
                    "CHF",
                    "AUD",
                    "CAD",
                    "NZD",
                    "CNY"
                  ],
                    "isTransparent": true,
                      "colorTheme": "dark",
                        "locale": "en"
            }
          </script>
      </div>
      <!-- TradingView Widget END -->
    </div>
    <div class="gradient-1 gs_reveal">
      <!-- TradingView Widget BEGIN -->
      <div class="tradingview-widget-container text-white">
        <div class="tradingview-widget-container__widget"></div>
        <div class="tradingview-widget-copyright"><a
            href="https://www.tradingview.com/markets/currencies/economic-calendar/" rel="noopener"
            target="_blank"><span class="blue-text">Economic Calendar</span></a> by TradingView</div>
        <script type="text/javascript" src="https://s3.tradingview.com/external-embedding/embed-widget-events.js" async>
          {
            "width": "100%",
              "height": "100%",
                "colorTheme": "dark",
                  "isTransparent": true,
                    "locale": "en",
                      "importanceFilter": "-1,0,1"
          }
        </script>
      </div>
      <!-- TradingView Widget END -->
    </div>

    <div class="gradient-1 gs_reveal">
      <!-- TradingView Widget BEGIN -->
      <div class="tradingview-widget-container">
        <div class="tradingview-widget-container__widget"></div>
        <div class="tradingview-widget-copyright"><a href="https://www.tradingview.com/symbols/NASDAQ-AAPL/technicals/"
            rel="noopener" target="_blank"><span class="blue-text">Technical Analysis for AAPL</span></a> by TradingView
        </div>
        <script type="text/javascript"
          src="https://s3.tradingview.com/external-embedding/embed-widget-technical-analysis.js" async>
            {
              "interval": "1m",
                "width": "100%",
                  "isTransparent": true,
                    "height": "100%",
                      "symbol": "NASDAQ:AAPL",
                        "showIntervalTabs": true,
                          "locale": "en",
                            "colorTheme": "dark"
            }
          </script>
      </div>
      <!-- TradingView Widget END -->
    </div>

    <div class="gradient-1 gs_reveal">
      <!-- TradingView Widget BEGIN -->
      <div class="tradingview-widget-container">
        <div class="tradingview-widget-container__widget"></div>
        <div class="tradingview-widget-copyright"><a href="https://www.tradingview.com/markets/stocks-usa/"
            rel="noopener" target="_blank"><span class="blue-text">Stock Market Today</span></a> by TradingView</div>
        <script type="text/javascript" src="https://s3.tradingview.com/external-embedding/embed-widget-hotlists.js"
          async>
            {
              "colorTheme": "dark",
                "dateRange": "12M",
                  "exchange": "US",
                    "showChart": true,
                      "locale": "en",
                        "width": "100%",
                          "height": "100%",
                            "largeChartUrl": "",
                              "isTransparent": true,
                                "showSymbolLogo": false,
                                  "showFloatingTooltip": false,
                                    "plotLineColorGrowing": "rgba(41, 98, 255, 1)",
                                      "plotLineColorFalling": "rgba(41, 98, 255, 1)",
                                        "gridLineColor": "rgba(240, 243, 250, 0)",
                                          "scaleFontColor": "rgba(120, 123, 134, 1)",
                                            "belowLineFillColorGrowing": "rgba(41, 98, 255, 0.12)",
                                              "belowLineFillColorFalling": "rgba(41, 98, 255, 0.12)",
                                                "belowLineFillColorGrowingBottom": "rgba(41, 98, 255, 0)",
                                                  "belowLineFillColorFallingBottom": "rgba(41, 98, 255, 0)",
                                                    "symbolActiveColor": "rgba(41, 98, 255, 0.12)"
            }
          </script>
      </div>
      <!-- TradingView Widget END -->
    </div>

    <div class="gradient-1 gs_reveal">
      <!-- TradingView Widget BEGIN -->
      <div class="tradingview-widget-container">
        <div class="tradingview-widget-container__widget"></div>
        <div class="tradingview-widget-copyright"><a href="https://www.tradingview.com/forex-screener/" rel="noopener"
            target="_blank"><span class="blue-text">Forex Screener</span></a> by TradingView</div>
        <script type="text/javascript" src="https://s3.tradingview.com/external-embedding/embed-widget-screener.js"
          async>
            {
              "width": "100%",
                "height": "100%",
                  "defaultColumn": "overview",
                    "defaultScreen": "general",
                      "market": "forex",
                        "showToolbar": true,
                          "colorTheme": "dark",
                            "locale": "en",
                              "isTransparent": true
            }
          </script>
      </div>
      <!-- TradingView Widget END -->
    </div>
    <div class="gradient-1 gs_reveal">
      <!-- TradingView Widget BEGIN -->
      <div class="tradingview-widget-container">
        <div class="tradingview-widget-container__widget"></div>
        <div class="tradingview-widget-copyright"><a
            href="https://www.tradingview.com/symbols/NASDAQ-AAPL/financials-overview/" rel="noopener"
            target="_blank"><span class="blue-text">AAPL Fundamental Data</span></a> by TradingView</div>
        <script type="text/javascript" src="https://s3.tradingview.com/external-embedding/embed-widget-financials.js"
          async>
            {
              "symbol": "NASDAQ:AAPL",
                "colorTheme": "dark",
                  "isTransparent": true,
                    "largeChartUrl": "",
                      "displayMode": "regular",
                        "width": "100%",
                          "height": "100%",
                            "locale": "en"
            }
          </script>
      </div>
      <!-- TradingView Widget END -->
    </div>

    <div class="gradient-1 gs_reveal">
      <!-- TradingView Widget BEGIN -->
      <div class="tradingview-widget-container">
        <div class="tradingview-widget-container__widget"></div>
        <div class="tradingview-widget-copyright"><a href="https://www.tradingview.com/key-events/" rel="noopener"
            target="_blank"><span class="blue-text">Daily news roundup</span></a> by TradingView</div>
        <script type="text/javascript" src="https://s3.tradingview.com/external-embedding/embed-widget-timeline.js"
          async>
            {
              "feedMode": "all_symbols",
                "colorTheme": "dark",
                  "isTransparent": true,
                    "displayMode": "regular",
                      "width": "100%",
                        "height": "100%",
                          "locale": "en"
            }
          </script>
      </div>
      <!-- TradingView Widget END -->
    </div>

    <div class="gradient-1 gs_reveal">
      <!-- TradingView Widget BEGIN -->
      <div class="tradingview-widget-container">
        <div class="tradingview-widget-container__widget"></div>
        <div class="tradingview-widget-copyright"><a href="https://www.tradingview.com/markets/" rel="noopener"
            target="_blank"><span class="blue-text">Financial Markets</span></a> by TradingView</div>
        <script type="text/javascript"
          src="https://s3.tradingview.com/external-embedding/embed-widget-market-overview.js" async>
            {
              "colorTheme": "dark",
                "dateRange": "12M",
                  "showChart": true,
                    "locale": "en",
                      "width": "100%",
                        "height": "100%",
                          "largeChartUrl": "",
                            "isTransparent": true,
                              "showSymbolLogo": true,
                                "showFloatingTooltip": false,
                                  "plotLineColorGrowing": "rgba(41, 98, 255, 1)",
                                    "plotLineColorFalling": "rgba(41, 98, 255, 1)",
                                      "gridLineColor": "rgba(240, 243, 250, 0)",
                                        "scaleFontColor": "rgba(120, 123, 134, 1)",
                                          "belowLineFillColorGrowing": "rgba(41, 98, 255, 0.12)",
                                            "belowLineFillColorFalling": "rgba(41, 98, 255, 0.12)",
                                              "belowLineFillColorGrowingBottom": "rgba(41, 98, 255, 0)",
                                                "belowLineFillColorFallingBottom": "rgba(41, 98, 255, 0)",
                                                  "symbolActiveColor": "rgba(41, 98, 255, 0.12)",
                                                    "tabs": [
                                                      {
                                                        "title": "Indices",
                                                        "symbols": [
                                                          {
                                                            "s": "FOREXCOM:SPXUSD",
                                                            "d": "S&P 500"
                                                          },
                                                          {
                                                            "s": "FOREXCOM:NSXUSD",
                                                            "d": "US 100"
                                                          },
                                                          {
                                                            "s": "FOREXCOM:DJI",
                                                            "d": "Dow 30"
                                                          },
                                                          {
                                                            "s": "INDEX:NKY",
                                                            "d": "Nikkei 225"
                                                          },
                                                          {
                                                            "s": "INDEX:DEU40",
                                                            "d": "DAX Index"
                                                          },
                                                          {
                                                            "s": "FOREXCOM:UKXGBP",
                                                            "d": "UK 100"
                                                          }
                                                        ],
                                                        "originalTitle": "Indices"
                                                      },
                                                      {
                                                        "title": "Futures",
                                                        "symbols": [
                                                          {
                                                            "s": "CME_MINI:ES1!",
                                                            "d": "S&P 500"
                                                          },
                                                          {
                                                            "s": "CME:6E1!",
                                                            "d": "Euro"
                                                          },
                                                          {
                                                            "s": "COMEX:GC1!",
                                                            "d": "Gold"
                                                          },
                                                          {
                                                            "s": "NYMEX:CL1!",
                                                            "d": "Crude Oil"
                                                          },
                                                          {
                                                            "s": "NYMEX:NG1!",
                                                            "d": "Natural Gas"
                                                          },
                                                          {
                                                            "s": "CBOT:ZC1!",
                                                            "d": "Corn"
                                                          }
                                                        ],
                                                        "originalTitle": "Futures"
                                                      },
                                                      {
                                                        "title": "Bonds",
                                                        "symbols": [
                                                          {
                                                            "s": "CME:GE1!",
                                                            "d": "Eurodollar"
                                                          },
                                                          {
                                                            "s": "CBOT:ZB1!",
                                                            "d": "T-Bond"
                                                          },
                                                          {
                                                            "s": "CBOT:UB1!",
                                                            "d": "Ultra T-Bond"
                                                          },
                                                          {
                                                            "s": "EUREX:FGBL1!",
                                                            "d": "Euro Bund"
                                                          },
                                                          {
                                                            "s": "EUREX:FBTP1!",
                                                            "d": "Euro BTP"
                                                          },
                                                          {
                                                            "s": "EUREX:FGBM1!",
                                                            "d": "Euro BOBL"
                                                          }
                                                        ],
                                                        "originalTitle": "Bonds"
                                                      },
                                                      {
                                                        "title": "Forex",
                                                        "symbols": [
                                                          {
                                                            "s": "FX:EURUSD"
                                                          },
                                                          {
                                                            "s": "FX:GBPUSD"
                                                          },
                                                          {
                                                            "s": "FX:USDJPY"
                                                          },
                                                          {
                                                            "s": "FX:USDCHF"
                                                          },
                                                          {
                                                            "s": "FX:AUDUSD"
                                                          },
                                                          {
                                                            "s": "FX:USDCAD"
                                                          }
                                                        ],
                                                        "originalTitle": "Forex"
                                                      }
                                                    ]
            }
          </script>
      </div>
      <!-- TradingView Widget END -->
    </div>

    <div class="gradient-1 gs_reveal">
      <!-- TradingView Widget BEGIN -->
      <div class="tradingview-widget-container">
        <div class="tradingview-widget-container__widget"></div>
        <div class="tradingview-widget-copyright"><a href="https://www.tradingview.com/symbols/NASDAQ-AAPL/"
            rel="noopener" target="_blank"><span class="blue-text">AAPL Profile</span></a> by TradingView</div>
        <script type="text/javascript"
          src="https://s3.tradingview.com/external-embedding/embed-widget-symbol-profile.js" async>
            {
              "symbol": "NASDAQ:AAPL",
                "width": "100%",
                  "height": "100%",
                    "colorTheme": "dark",
                      "isTransparent": true,
                        "locale": "en"
            }
          </script>
      </div>
      <!-- TradingView Widget END -->
    </div>


    <div class="gradient-1 gs_reveal">
      <!-- TradingView Widget BEGIN -->
      <div class="tradingview-widget-container">
        <div class="tradingview-widget-container__widget"></div>
        <div class="tradingview-widget-copyright"><a
            href="https://www.tradingview.com/markets/cryptocurrencies/prices-all/" rel="noopener" target="_blank"><span
              class="blue-text">Cryptocurrency Markets</span></a> by TradingView</div>
        <script type="text/javascript" src="https://s3.tradingview.com/external-embedding/embed-widget-screener.js"
          async>
            {
              "width": "100%",
                "height": "100%",
                  "defaultColumn": "overview",
                    "screener_type": "crypto_mkt",
                      "displayCurrency": "USD",
                        "colorTheme": "dark",
                          "locale": "en",
                            "isTransparent": true
            }
          </script>
      </div>
      <!-- TradingView Widget END -->
    </div>

    <div class="gradient-1 gs_reveal">
      <!-- TradingView Widget BEGIN -->
      <div class="tradingview-widget-container">
        <div class="tradingview-widget-container__widget"></div>
        <div class="tradingview-widget-copyright"><a href="https://www.tradingview.com/symbols/NASDAQ-AAPL/"
            rel="noopener" target="_blank"><span class="blue-text">AAPL Price Today</span></a> by TradingView</div>
        <script type="text/javascript" src="https://s3.tradingview.com/external-embedding/embed-widget-symbol-info.js"
          async>
            {
              "symbol": "NASDAQ:AAPL",
                "width": "100%",
                  "locale": "en",
                    "colorTheme": "dark",
                      "isTransparent": true
            }
          </script>
      </div>
      <!-- TradingView Widget END -->
    </div>

    <div class="gradient-1 gs_reveal">
      <!-- TradingView Widget BEGIN -->
      <div class="tradingview-widget-container">
        <div class="tradingview-widget-container__widget"></div>
        <div class="tradingview-widget-copyright"><a href="https://www.tradingview.com/symbols/EURUSD/?exchange=FX"
            rel="noopener" target="_blank"><span class="blue-text">EURUSD Rates</span></a> by TradingView</div>
        <script type="text/javascript"
          src="https://s3.tradingview.com/external-embedding/embed-widget-mini-symbol-overview.js" async>
            {
              "symbol": "FX:EURUSD",
                "width": "100%",
                  "height": "100%",
                    "locale": "en",
                      "dateRange": "12M",
                        "colorTheme": "dark",
                          "trendLineColor": "rgba(41, 98, 255, 1)",
                            "underLineColor": "rgba(41, 98, 255, 0.3)",
                              "underLineBottomColor": "rgba(41, 98, 255, 0)",
                                "isTransparent": true,
                                  "autosize": true,
                                    "largeChartUrl": ""
            }
          </script>
      </div>
      <!-- TradingView Widget END -->
    </div>
  </div>

  <!-- review -->
  <div id="carouselExampleCaptions" class="carousel slide carousel-dark gs_reveal" data-bs-ride="carousel">
    <h1 class="Users-header gs_reveal">Join Thousands of Users all over the world</h1>

    <div class="carousel-inner py-3">
      <div class="carousel-item active ">
        <div class="item mx-auto justify-content-center">
          <img src="/images/pexels-andrea-piacquadio-774909.jpg" class="gs_reveal">
          <blockquote class="blockquote gs_reveal mb-0">
            <p>The service given to me was exceptional. I'll definitely recommend them to friends and family.</p>
            <footer class="blockquote-footer">Olivia D<cite title="Source Title">
              </cite></footer>
          </blockquote>
          <div class="d-flex ratings justify-content-center my-3 gs_reveal">
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
          </div>
        </div>

      </div>
      <div class="carousel-item">
        <div class="item mx-auto">
          <img src="/images/pexels-pixabay-220453.jpg">
          <blockquote class="blockquote mb-0">
            <p>My experience with CTE brokers was very positive. They eventually found me a line of credit that would
              work well with what my
              business needed.
              I would definitely recommend them!!!</p>
            <footer class="blockquote-footer">Gary W <cite title="Source Title"></cite></footer>
          </blockquote>
          <div class="d-flex ratings justify-content-center my-3">
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
          </div>
        </div>

      </div>
      <div class="carousel-item">
        <div class="item mx-auto">
          <img src="/images/pexels-pixabay-38554.jpg">
          <blockquote class=" blockquote mb-0">
            <p>Was a great experience working with you guys, Much better experience than I've had with their
              competitors.</p>
            <footer class="blockquote-footer">Tristen L<cite title="Source Title"></cite></footer>
          </blockquote>
          <div class="d-flex ratings justify-content-center my-3">
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
          </div>
        </div>

      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>

  <!-- grid-section -->
  <div class="container">
    <div class="wrapper-header d-flex gs_reveal">
      <h4>Economic Research</h4>
      <i class="fas fa-chevron-right"></i>
    </div>
    <div class="row row-cols-2 row-cols-sm-3 row-cols-md-4 text-black grid-section">
      <div class="col card fed-card">
        <div>
          <h5 class="fed-title gs_reveal">Will Fed Rate Hikes Beat Expectations, Again?</h5>
          <p class="fed-info gs_reveal">The current consensus on inflation, employment, and interest rate outlooks see
          </p>

          <p class="fed-date gs_reveal">03 JAN 2022</p>
          <p class="fed-author gs_reveal">By Eric Kohn</p>
        </div>
      </div>

      <div class="col card ">
        <div>
          <h5 class="card-title gs_reveal">Fragile Economic Outlook for 2022</h5>
          <p class="card-info gs_reveal">The current consensus on inflation, employment, and interest rate outlooks see
          </p>

          <p class="card-date gs_reveal">03 JAN 2022</p>
          <p class="card-author gs_reveal">By Eric Kohn</p>
        </div>
      </div>
      <div class="col card">
        <div>
          <h5 class="card-title gs_reveal">Fragile Economic Outlook for 2022</h5>
          <p class="card-info gs_reveal">The current consensus on inflation, employment, and interest rate outlooks see
          </p>

          <p class="card-date gs_reveal">03 JAN 2022</p>
          <p class="card-author gs_reveal">By Eric Kohn</p>
        </div>
      </div>
      <div class="col card">
        <div>
          <h5 class="card-title gs_reveal">Fragile Economic Outlook for 2022</h5>
          <p class="card-info gs_reveal">The current consensus on inflation, employment, and interest rate outlooks see
          </p>

          <p class="card-date gs_reveal">03 JAN 2022</p>
          <p class="card-author gs_reveal">By Eric Kohn</p>
        </div>
      </div>

    </div>
  </div>

  <div class="section container-fluid mb-3">
    <div class="row">
      <div class="col-md-8">
        <div class="trader">
          <h5 class="trader-header gs_reveal">ACTIVE TRADER</h5>
          <p class="trader-info my-3 gs_reveal">Curious about trading futures and options? Visit Active Trader to learn
            more about
            the
            trading
            opportunities and capital
            efficiencies offered by CTE Group products.</p>
          <button class="btn-login gs_reveal">TAKE ME THERE</button>
        </div>
      </div>

      <div class="col-md-4 text-black bg-primary">
        <div class="tools">
          <i class="fas fa-user gs_reveal"></i>
          <P class="tools-info my-3 gs_reveal">Create a CTEGroup.com Account to gain access to portfolio management,
            tools, and
            premium
            content.</P>
          <button class="btn-login gs_reveal">GET STARTED</button>
        </div>
      </div>
    </div>
  </div>

  <div class="container company-grid">
    <div class="row row-cols-2 row-cols-sm-3 row-cols-md-4 text-black container my-lg-5 my-3">
      <div class="col gs_reveal">
        <h6>COMPANY</h6>
        <p>About Us</p>
        <p>Careers</p>
      </div>
      <div class="col gs_reveal">
        <h6>COMPANY</h6>
        <p>Investor Relations</p>
        <p>Contact Us</p>
      </div>
      <div class="col gs_reveal">
        <h6>COMPANY</h6>
        <p>Investor Relations</p>
        <p>Contact Us</p>
      </div>
      <div class="col gs_reveal">
        <h6>COMPANY</h6>
        <p>Media Room</p>
        <p>Careers</p>
      </div>

    </div>
  </div>

  <button type="button" class="btn btn-danger btn-floating btn-lg" id="btn-back-to-top">
    <i class="fas fa-arrow-up"></i>
  </button>


  <%- include("partials/footer"); -%>