<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>CTE Brokers</title>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.13.0/css/all.css"
    integrity="sha384-Bfad6CLCknfcloXFOyFnlgtENryhrpZCe29RTifKEixXQZ38WheV+i/6YWSzkz3V" crossorigin="anonymous" />
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <link rel="shortcut icon" href="/images/favicon (3).png" type="image/x-icon">
  <link rel="stylesheet" href="/styles.css">

</head>

<body>
  <div class="container-fluid translate-bg">
    <div class="container contact-us">
      <div class="d-flex contact-header align-center email-content">
        <h6 class="need-help">Need Help? Contact us</h6>

        <p class="mx-2 contact-header">
          <i class="fas fa-phone-alt"></i>
          <span>+1 (858) 858-8585</span>
        </p>
      </div>
      <div class="d-flex email-content">

        <p class="mx-2 contact-header">
          <i class="fas fa-envelope"></i>
          support@ctebrokers.com
        </p>
      </div>
    </div>
  </div>

  <nav class="navbar navbar-expand-md">
    <div class="container text-white d-flex flex-row">
      <a href="/">
        <img src="/images/LogoMakr-green.png" class="navbar-brand">
      </a>

      <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar"
        aria-controls="offcanvasNavbar">
        <i class="fas fa-bars"></i>
      </button>

      <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="#">Services</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Markets</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Data</a>
          </li>


          <li class="nav-item">
            <a class="nav-link" href="#">Contact us</a>
          </li>

          <li class="nav-item">
            <button class="btn-login"><a href="/login">Login</a></button>
          </li>
        </ul>
      </div>

      <div class="offcanvas offcanvas-top" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
        <div class="offcanvas-header">
          <a href="/">
            <img src="/images/LogoMakr-green.png" class="offcanvas-title">
          </a>
          <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
          <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
            <li class="nav-item">
              <a class="nav-link active item-canvas" aria-current="page" href="#">Home</a>
            </li>
            <li class="nav-item ">
              <a class="nav-link item-canvas" href="#">Services</a>
            </li>
            <li class="nav-item">
              <a class="nav-link item-canvas" href="#">Contact us</a>
            </li>
            <li class="nav-item">
              <a class="nav-link item-canvas" href="#">Markets</a>
            </li>

            <li class="nav-item">
              <button class="btn-login">
                <a href="/login">Login</a>
              </button>
            </li>
          </ul>

        </div>
      </div>
    </div>
  </nav>


  <div class="hero">
    <div class="hero-header d-block container mt-1">
      <h1 class="hero-title">BUILD YOUR FUTURE WITH CRYPTO INVESTMENTS</h1>

      <h5 class="hero-info ">OUR SOLUTIONS</h5>

      <p class="hero-help">We are worldwide investment company who are committed to the principle of revenue
        maximization & reduction of the
        financial risks at investing.</p>
      <button class="btn-login mb-2 gs_reveal">
        <a href="/register">GET STARTED</a>
      </button>
    </div>

    <div
      class="hero-container d-flex flex-column flex-sm-column flex-md-row flex-lg-row mx-auto justify-content-center index-z gs_reveal">
      <div class="justify-content-center index-z ">
        <button class="accordion first-accordion">EXPLORE NEW OFFERINGS</button>
        <div class="panel">
          <p>
            CTE Group is focused on delivering new ways to manage risk and improve performance. Whether it's a new
            futures contract
            for the evolving cryptocurrency market, tracking emerging benchmarks like CTE SOFR Term Reference Rate or
            backtesting
            alternative data sets, new opportunities are always waiting our market participants.
          </p>
        </div>
      </div>

      <div>
        <button class="accordion">ACCESS GLOBAL MARKETS</button>
        <div class="panel">
          <p>Explore products across six major asset classes to find opportunities, diversify and fine-tune your
            portfolio using
            standard, E-mini or Micro-sized contracts, and capture efficiencies with leading-edge technology as a core
            part of your
            trading strategy. Respond instantly to global, market-moving events with trading access nearly 24 hours a
            day, six days
            a week.</p>
        </div>
      </div>

      <div>
        <button class="accordion">LEARN MORE</button>
        <div class="panel">
          <p>Register and access premium tools that help you evaluate your customized product portfolios, or discover
            capital
            efficiencies with our suite of services..</p>
          <button class="btn-login my-3">Get Started</button>
        </div>
      </div>
    </div>
  </div>

  <!-- TradingView Widget BEGIN -->
  <div class="tradingview-widget-container mt-4">
    <div class="tradingview-widget-container__widget"></div>
    <div class="tradingview-widget-copyright"><a href="https://www.tradingview.com" rel="noopener" target="_blank"><span
          class="blue-text"></span></a>
    </div>
    <script type="text/javascript" src="https://s3.tradingview.com/external-embedding/embed-widget-ticker-tape.js"
      async>
        {
          "symbols": [
            {
              "proName": "FOREXCOM:SPXUSD",
              "title": "S&P 500"
            },
            {
              "proName": "FOREXCOM:NSXUSD",
              "title": "US 100"
            },
            {
              "proName": "FX_IDC:EURUSD",
              "title": "EUR/USD"
            },
            {
              "proName": "BITSTAMP:BTCUSD",
              "title": "Bitcoin"
            },
            {
              "proName": "BITSTAMP:ETHUSD",
              "title": "Ethereum"
            },
            {
              "description": "Tot",
              "proName": "CRYPTOCAP:TOTAL2"
            },
            {
              "description": "Ada",
              "proName": "BINANCE:ADAUSDT"
            }
          ],
            "showSymbolLogo": true,
              "colorTheme": "dark",
                "isTransparent": true,
                  "displayMode": "compact",
                    "locale": "en"
        }
      </script>
  </div>
  <!-- TradingView Widget END -->

  <section class="feautures-section mb-3">
    <div class="container">
      <div class="features-header gs_reveal">
        <h4>OUR AMAZING FEATURES</h4>
        <h2>INVESTING FOR EVERYONE</h2>
        <p>We are worldwide investment company who are committed to the principle of revenue maximization and
          reduction
          of the
          financial risks at investing.</p>
      </div>

      <div class="d-flex feature-wrapper flex-column flex-md-column flex-lg-row">
        <div class="feature-item d-flex gs_reveal">
          <div class="feature-img">
            <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="64" height="64" viewBox="0 0 172 172"
              style=" fill:#000000;">
              <g fill="none" fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt"
                stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0"
                font-family="none" font-weight="none" font-size="none" text-anchor="none"
                style="mix-blend-mode: normal">
                <path d="M0,172v-172h172v172z" fill="none"></path>
                <g fill="#20628a">
                  <path
                    d="M75.61218,5.38222c-27.02533,0.05937 -48.90226,21.98441 -48.90226,49.0098c0,27.0254 21.87693,48.95044 48.90226,49.0098c27.02533,-0.05937 48.90226,-21.98441 48.90226,-49.0098c0,-27.0254 -21.87693,-48.95044 -48.90226,-49.0098zM44.92114,97.93825c-23.94399,4.6726 -41.22436,25.64985 -41.22583,50.0455c0.01186,10.28663 8.34806,18.62254 18.63469,18.63403h95.61687c-3.86605,-2.03264 -7.34571,-4.72749 -10.28087,-7.96212c-7.60301,-8.37778 -10.99335,-19.75321 -9.21731,-30.92633c1.77604,-11.17312 8.52655,-20.93659 18.35258,-26.54392c-3.3709,-1.46081 -6.89137,-2.54879 -10.4987,-3.24455c-18.40697,12.96487 -42.97556,12.96382 -61.38142,-0.00262zM135.27652,100.56079c-18.24108,-0.00015 -33.02853,14.78704 -33.0287,33.02813c-0.00017,18.24108 14.787,33.02855 33.02809,33.02874c18.24108,0.00019 33.02857,-14.78696 33.02878,-33.02804c-0.02041,-18.2326 -14.79557,-33.00805 -33.02817,-33.02882zM135.48779,106.81303c4.2293,0.11481 7.59564,3.581 7.58681,7.81186v11.16599h11.16599c2.06837,-0.00006 4.05204,0.82157 5.5146,2.28413c1.46256,1.46256 2.28419,3.44623 2.28413,5.5146c-0.00022,4.30692 -3.49181,7.79822 -7.79874,7.79808h-11.16599v11.16598c0.00952,2.79244 -1.47476,5.37684 -3.89151,6.77582c-2.41675,1.39898 -5.39706,1.39898 -7.8138,0c-2.41675,-1.39898 -3.90103,-3.98338 -3.89151,-6.77582v-11.16598h-11.16598c-4.30692,0.00014 -7.79851,-3.49116 -7.79874,-7.79808c-0.00006,-2.06837 0.82158,-4.05204 2.28413,-5.5146c1.46256,-1.46256 3.44623,-2.28419 5.5146,-2.28413h11.16598v-11.16599c-0.0044,-2.10778 0.84461,-4.12759 2.35359,-5.59924c1.50898,-1.47165 3.54941,-2.2698 5.65642,-2.21262z">
                  </path>
                </g>
              </g>
            </svg>
          </div>
          <div>
            <h4>SIGN UP IN MINUTES</h4>
            <p>Open an investment account in minutes and get started with as little as $50.</p>
            <a href="#">GET STRATED</a>
          </div>
        </div>

        <div class="feature-item d-flex gs_reveal">
          <div class="feature-img">
            <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="64" height="64" viewBox="0 0 172 172"
              style=" fill:#000000;">
              <g fill="none" fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt"
                stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0"
                font-family="none" font-weight="none" font-size="none" text-anchor="none"
                style="mix-blend-mode: normal">
                <path d="M0,172v-172h172v172z" fill="none"></path>
                <g>
                  <g>
                    <circle cx="19" cy="19" transform="scale(2.6875,2.6875)" r="16" fill="#20628a"></circle>
                    <path d="M51.0625,8.0625v43h-43c0,-23.74824 19.25176,-43 43,-43z" fill="#79bd9a"></path>
                    <rect x="-23" y="-49" transform="rotate(180) scale(2.6875,2.6875)" width="4" height="10"
                      fill="#cff09e"></rect>
                    <rect x="-15" y="-49" transform="rotate(180) scale(2.6875,2.6875)" width="4" height="7"
                      fill="#cff09e"></rect>
                    <rect x="-7" y="-49" transform="rotate(180) scale(2.6875,2.6875)" width="4" height="4"
                      fill="#cff09e"></rect>
                    <path
                      d="M99.4375,131.6875c0.00824,-16.01566 11.77589,-29.59539 27.6275,-31.88181c4.63456,-10.04953 7.72682,-20.74061 9.17244,-31.7125l0.82506,-6.28069h10.75l-24.1875,-26.875l-24.1875,26.875h10.75l-0.20963,2.38381c-4.57644,51.87886 -44.83832,93.47562 -96.54037,99.74119h13.51006c26.83664,0.02086 52.75497,-9.77068 72.87425,-27.53075c-0.2439,-1.5615 -0.37236,-3.13886 -0.38431,-4.71925z"
                      fill="#79bd9a"></path>
                    <path
                      d="M160.20188,146.76438c-6.47892,12.23861 -20.0477,18.97499 -33.71347,16.73745c-13.66577,-2.23753 -24.3777,-12.94945 -26.61523,-26.61523c-2.23753,-13.66577 4.49885,-27.23455 16.73745,-33.71347c-6.62392,12.5125 -4.31268,27.88199 5.69829,37.89296c10.01097,10.01097 25.38046,12.32221 37.89296,5.69829z"
                      fill="#cff09e"></path>
                    <path
                      d="M142.38375,150.31187c-3.24818,1.88805 -6.9392,2.88036 -10.69625,2.87563c-11.87412,0 -21.5,-9.62588 -21.5,-21.5c-0.00474,-3.75705 0.98757,-7.44807 2.87562,-10.69625c1.29964,15.6234 13.69723,28.02099 29.32062,29.32062z"
                      fill="#cff09e"></path>
                    <path
                      d="M153.1875,131.6875c0.00499,7.06703 -3.47362,13.68241 -9.29875,17.68375c2.56175,-3.59222 3.9339,-7.89666 3.92375,-12.30875c0,-11.87412 -9.62588,-21.5 -21.5,-21.5c-4.41209,-0.01015 -8.71653,1.362 -12.30875,3.92375c5.34741,-7.73299 15.09915,-11.09461 24.07583,-8.2994c8.97668,2.79521 15.09603,11.09885 15.10792,20.50065z"
                      fill="#cff09e"></path>
                  </g>
                  <g fill="#3b8686">
                    <path
                      d="M29.5625,91.3535v10.7715c0,1.48427 1.20323,2.6875 2.6875,2.6875c1.48427,0 2.6875,-1.20323 2.6875,-2.6875v-8.36887c18.19766,6.93226 38.78938,1.53944 51.25304,-13.42278c12.46367,-14.96223 14.04668,-36.18945 3.94014,-52.83484l7.81525,-8.686h17.61656c1.48427,0 2.6875,-1.20323 2.6875,-2.6875c0,-1.48427 -1.20323,-2.6875 -2.6875,-2.6875h-18.8125c-0.76158,0.0002 -1.48732,0.32351 -1.99681,0.88956l-7.75612,8.61613c-11.45756,-14.65975 -30.66499,-20.90007 -48.55087,-15.77374c-17.88588,5.12633 -30.87162,20.59364 -32.82421,39.09692c-1.9526,18.50328 7.51862,36.3404 23.94052,45.08713zM10.88706,53.75h18.67544v31.35237c-10.87437,-6.86912 -17.81379,-18.51904 -18.67544,-31.35237zM83.33669,27.01206l-12.771,14.19c-0.66508,0.70994 -0.89459,1.72387 -0.60008,2.65102c0.29452,0.92715 1.06707,1.62277 2.01993,1.81875c0.95286,0.19599 1.93724,-0.13825 2.57377,-0.8739l11.825,-13.13381c8.32878,15.11527 6.10152,33.85705 -5.53781,46.59934c-11.63933,12.74228 -30.10347,16.65262 -45.909,9.7226v-34.23606h16.125c1.48427,0 2.6875,-1.20323 2.6875,-2.6875v-40.17544c11.7469,0.78578 22.55975,6.67888 29.58669,16.125zM48.375,10.88706v37.48794h-13.4375v-2.6875c0,-1.48427 -1.20323,-2.6875 -2.6875,-2.6875c-1.48427,0 -2.6875,1.20323 -2.6875,2.6875v2.6875h-18.67544c1.36602,-20.11105 17.37689,-36.12192 37.48794,-37.48794z">
                    </path>
                    <path
                      d="M51.0625,102.125c-1.48427,0 -2.6875,1.20323 -2.6875,2.6875v26.875c0,1.48427 1.20323,2.6875 2.6875,2.6875h10.75c1.48427,0 2.6875,-1.20323 2.6875,-2.6875v-26.875c0,-1.48427 -1.20323,-2.6875 -2.6875,-2.6875zM59.125,129h-5.375v-21.5h5.375z">
                    </path>
                    <path
                      d="M29.5625,110.1875c-1.48427,0 -2.6875,1.20323 -2.6875,2.6875v18.8125c0,1.48427 1.20323,2.6875 2.6875,2.6875h10.75c1.48427,0 2.6875,-1.20323 2.6875,-2.6875v-18.8125c0,-1.48427 -1.20323,-2.6875 -2.6875,-2.6875zM37.625,129h-5.375v-13.4375h5.375z">
                    </path>
                    <path
                      d="M21.5,131.6875v-10.75c0,-1.48427 -1.20323,-2.6875 -2.6875,-2.6875h-10.75c-1.48427,0 -2.6875,1.20323 -2.6875,2.6875v10.75c0,1.48427 1.20323,2.6875 2.6875,2.6875h10.75c1.48427,0 2.6875,-1.20323 2.6875,-2.6875zM16.125,129h-5.375v-5.375h5.375z">
                    </path>
                    <path
                      d="M131.6875,96.75c-0.12363,0 -0.24456,0.01613 -0.37087,0.01881c3.75293,-9.07285 6.30348,-18.59745 7.58681,-28.33163l0.516,-3.93719h8.39306c1.06122,-0.00028 2.0229,-0.62501 2.4545,-1.5945c0.43159,-0.96949 0.25227,-2.10217 -0.45768,-2.89094l-24.1875,-26.875c-0.52199,-0.54369 -1.24311,-0.85103 -1.99681,-0.85103c-0.75371,0 -1.47482,0.30734 -1.99681,0.85103l-24.1875,26.875c-0.70996,0.78876 -0.88928,1.92145 -0.45768,2.89094c0.43159,0.96949 1.39328,1.59422 2.4545,1.5945h7.81525c-4.89037,50.30077 -43.99085,90.49408 -94.13775,96.76881c-1.41354,0.16811 -2.45081,1.40928 -2.36525,2.83022c0.08556,1.42093 1.26425,2.52868 2.68775,2.52597h13.51006c25.93023,0.00077 51.06961,-8.92884 71.18919,-25.28669c4.98267,17.33622 22.34387,28.0293 40.06798,24.67862c17.72412,-3.35068 29.98373,-19.64347 28.29402,-37.60221c-1.68971,-17.95874 -16.7732,-31.67885 -34.81125,-31.66472zM38.73225,160.60231c41.12842,-15.11361 69.89498,-52.53753 73.92237,-96.1695l0.22038,-2.38381c0.06651,-0.75278 -0.187,-1.49877 -0.69839,-2.05516c-0.51139,-0.55639 -1.23341,-0.87177 -1.98911,-0.86884h-4.71656l18.15406,-20.15625l18.15406,20.15625h-4.71656c-1.34971,-0.00066 -2.49054,0.99987 -2.666,2.33813l-0.82775,6.27531c-1.3636,10.23475 -4.1958,20.21942 -8.40919,29.64581c-16.46706,3.14823 -28.38448,17.53796 -28.40956,34.30325c0.00108,1.21454 0.06476,2.42821 0.19081,3.63619c-16.41455,14.09563 -36.70283,22.90636 -58.20856,25.27863zM131.6875,161.25c-16.32692,0 -29.5625,-13.23558 -29.5625,-29.5625c0,-16.32692 13.23558,-29.5625 29.5625,-29.5625c16.32692,0 29.5625,13.23558 29.5625,29.5625c-0.01925,16.31894 -13.24356,29.54325 -29.5625,29.5625z">
                    </path>
                    <path
                      d="M131.6875,107.5c-13.35839,0 -24.1875,10.82911 -24.1875,24.1875c0,13.35839 10.82911,24.1875 24.1875,24.1875c13.35839,0 24.1875,-10.82911 24.1875,-24.1875c-0.01629,-13.35163 -10.83587,-24.17121 -24.1875,-24.1875zM112.875,131.6875c0.01095,-9.34331 6.87751,-17.26275 16.125,-18.5975v2.91056c-4.47606,1.32225 -7.29891,5.73438 -6.62344,10.35252c0.67546,4.61814 4.64369,8.037 9.31094,8.02191c2.2264,0 4.03125,1.80485 4.03125,4.03125c0,2.2264 -1.80485,4.03125 -4.03125,4.03125c-2.2264,0 -4.03125,-1.80485 -4.03125,-4.03125c0,-1.48427 -1.20323,-2.6875 -2.6875,-2.6875c-1.48427,0 -2.6875,1.20323 -2.6875,2.6875c0.01499,4.14456 2.74541,7.78913 6.71875,8.96819v2.91056c-9.24749,-1.33475 -16.11405,-9.25419 -16.125,-18.5975zM134.375,150.285v-2.91056c4.47606,-1.32225 7.29891,-5.73438 6.62344,-10.35252c-0.67546,-4.61814 -4.64369,-8.037 -9.31094,-8.02191c-2.2264,0 -4.03125,-1.80485 -4.03125,-4.03125c0,-2.2264 1.80485,-4.03125 4.03125,-4.03125c2.2264,0 4.03125,1.80485 4.03125,4.03125c0,1.48427 1.20323,2.6875 2.6875,2.6875c1.48427,0 2.6875,-1.20323 2.6875,-2.6875c-0.01499,-4.14456 -2.74541,-7.78913 -6.71875,-8.96819v-2.91056c9.2498,1.32842 16.11742,9.25279 16.11742,18.5975c0,9.34471 -6.86761,17.26908 -16.11742,18.5975z">
                    </path>
                    <path
                      d="M23.12863,42.78231c1.36404,0.58464 2.94377,-0.04701 3.52869,-1.41094l1.6125,-3.74638h7.9765l1.6125,3.74638c0.3692,0.89621 1.19239,1.52417 2.1543,1.64341c0.96192,0.11923 1.91351,-0.28874 2.49035,-1.06768c0.57684,-0.77894 0.68955,-1.80815 0.29497,-2.69347l-8.0625,-18.8125c-0.42371,-0.98766 -1.3951,-1.62793 -2.46981,-1.62793c-1.07472,0 -2.0461,0.64027 -2.46981,1.62793l-8.0625,18.8125c-0.58658,1.35963 0.03715,2.93758 1.39481,3.52869zM33.93238,32.25h-3.36475l1.68237,-3.92644z">
                    </path>
                    <path
                      d="M53.75,59.125v21.5c0,1.48427 1.20323,2.6875 2.6875,2.6875h5.375c3.18634,0.0141 6.07939,-1.85768 7.37242,-4.76991c1.29303,-2.91222 0.74123,-6.31352 -1.40617,-8.66759c2.14739,-2.35407 2.69919,-5.75537 1.40617,-8.66759c-1.29303,-2.91222 -4.18608,-4.78401 -7.37242,-4.76991h-5.375c-1.48427,0 -2.6875,1.20323 -2.6875,2.6875zM61.8125,77.9375h-2.6875v-5.375h2.6875c1.48427,0 2.6875,1.20323 2.6875,2.6875c0,1.48427 -1.20323,2.6875 -2.6875,2.6875zM59.125,61.8125h2.6875c1.48427,0 2.6875,1.20323 2.6875,2.6875c0,1.48427 -1.20323,2.6875 -2.6875,2.6875h-2.6875z">
                    </path>
                  </g>
                </g>
              </g>
            </svg>
          </div>
          <div>
            <h4>INVESTING MADE EASY</h4>
            <p>Choose from three simple starting option - cautious , balanced & adventurous.We’ll take care of the
              rest!.</p>
            <a href="#">READ MORE</a>
          </div>
        </div>

        <div class="feature-item d-flex gs_reveal">
          <div class="feature-img">
            <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="50" height="50" viewBox="0 0 172 172"
              style=" fill:#000000;">
              <g fill="none" fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt"
                stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0"
                font-family="none" font-weight="none" font-size="none" text-anchor="none"
                style="mix-blend-mode: normal">
                <path d="M0,172v-172h172v172z" fill="none"></path>
                <g fill="#20628a">
                  <path
                    d="M55.04,0c-30.3408,0 -55.04,24.6992 -55.04,55.04c0,30.3408 24.6992,55.04 55.04,55.04h0.37625c1.1696,-10.5264 5.02375,-20.29788 10.83735,-28.58828c-0.6192,0.3784 -1.24028,0.72428 -1.92828,1.06828c-2.064,0.688 -4.128,1.37735 -6.88,1.37735v6.18797h-4.12531v-6.18797c-5.16,-0.344 -9.288,-2.40666 -12.04,-5.50266c-3.096,-3.096 -4.816,-7.22803 -5.16,-12.73203h6.53735c-0.344,3.784 1.02797,6.53735 2.74797,8.25735c2.064,2.064 4.47603,3.09465 7.57203,3.78265v-20.29734c-2.752,-0.688 -5.16,-1.37466 -6.88,-2.06266c-2.064,-0.688 -3.44135,-1.71597 -4.81735,-2.74797c-1.376,-1.032 -2.41069,-2.41203 -2.75469,-4.13203c-0.688,-1.72 -1.02797,-3.43731 -1.02797,-5.84531c0,-2.408 0.34534,-4.47469 1.37734,-6.19469c0.688,-2.064 2.064,-3.44 3.44,-5.16c1.376,-1.376 3.096,-2.408 5.16,-3.44c2.064,-0.688 4.12397,-1.37734 6.18797,-1.37734v-5.16h4.13203v5.16c4.128,0.344 7.56263,2.06669 9.97063,4.47469c2.408,2.408 4.128,6.19065 5.16,10.66265h-6.53063c-1.032,-5.16 -3.784,-7.91065 -8.6,-8.94265v18.92l4.46797,1.37735c1.032,0.344 2.064,0.68934 3.44,1.37734c1.376,0.688 2.75603,1.37197 4.13203,2.74797c1.376,1.032 2.40263,2.41203 3.09063,4.13203c1.032,1.72 1.37734,3.77997 1.37734,6.18797c0,2.0296 -0.23838,4.02695 -0.96078,5.64375c9.6664,-9.5976 22.49653,-16.06775 36.73813,-17.65015v-0.37625c0,-30.3408 -24.6992,-55.04 -55.04,-55.04zM138.60781,1.00781l-19.63219,19.63219l19.63219,19.63219l4.86437,-4.86437l-11.32781,-11.32781h15.77563c9.47563,0 17.2,7.72436 17.2,17.2v20.64h6.88v-20.64c0,-13.22836 -10.85163,-24.08 -24.08,-24.08h-15.77563l11.32781,-11.32781zM52.97735,33.02266c-2.06744,0 -4.47469,0.68531 -6.19469,2.40531c-1.71656,1.37944 -2.40531,3.78535 -2.40531,6.53735c0,1.37256 0.34475,2.408 0.68531,3.44c0.34744,1.032 1.03544,1.72403 1.72,2.41203c0.688,0.68456 1.71925,1.032 2.75469,1.72c1.032,0.344 2.40456,1.03006 3.44,1.37062zM57.44531,58.82265v19.26266c1.37256,-0.34744 2.75737,-0.68397 3.78937,-1.02797c1.032,-0.34744 2.40263,-1.03544 3.09063,-1.72c1.032,-0.688 1.72537,-1.72135 2.06937,-3.09735c0.34744,-1.032 0.68531,-2.74931 0.68531,-4.12531c0,-1.37256 -0.34131,-2.75737 -0.68531,-3.78937c-0.344,-1.032 -1.03737,-1.71731 -2.06937,-2.40531c-1.032,-0.688 -2.06207,-1.376 -3.09063,-1.72c-1.37256,-0.344 -2.41337,-1.03335 -3.78937,-1.37735zM116.96,61.92c-2.5112,0 -4.98935,0.17335 -7.39735,0.51735c-24.4584,3.3024 -43.82291,22.66691 -47.12531,47.12531c-0.344,2.408 -0.51735,4.88615 -0.51735,7.39735c0,30.3408 24.6992,55.04 55.04,55.04c0.9976,0 1.92748,-0.03279 2.82187,-0.06719c1.4792,-0.0344 2.81811,-0.17066 4.12531,-0.34266c0.688,-0.1032 1.34106,-0.21258 2.02906,-0.31578c0.6536,-0.1032 1.34187,-0.23865 1.99547,-0.37625c0.4472,-0.1032 0.93015,-0.20506 1.37735,-0.34266c20.4336,-4.6784 36.568,-20.8128 41.2464,-41.2464c0.1376,-0.4472 0.23945,-0.93015 0.34266,-1.37735c0.1376,-0.6536 0.27305,-1.34187 0.37625,-1.99547c0.1376,-0.6536 0.24698,-1.34106 0.31578,-2.02906c0.172,-1.3072 0.30826,-2.64611 0.34266,-4.12531c0.0344,-0.8944 0.06719,-1.82427 0.06719,-2.82187c0,-30.3408 -24.6992,-55.04 -55.04,-55.04zM109.22,85.14h5.16v8.01547h5.09281h0.06719v-8.01547h5.16v8.6336c6.2264,1.5136 9.83625,5.88079 9.83625,12.10719c0,5.2632 -3.88317,10.08485 -8.76797,10.94485v0.58453c6.9488,0.86 11.34797,5.64026 11.34797,12.38266c0,7.5336 -4.50425,12.48478 -12.41625,13.86078v8.5664h-5.16v-8.14985h-5.16v8.14985h-5.16v-8.14985h-9.21813v-50.91469h9.21813zM106.36453,98.76563v16.34h10.14531c0.9632,0 1.86969,-0.04858 2.71437,-0.13438c0.84468,-0.0858 1.63265,-0.21178 2.35828,-0.38297c0.72563,-0.1712 1.38944,-0.38209 1.99547,-0.63828c0.60603,-0.25619 1.15348,-0.55954 1.63938,-0.90031c0.4859,-0.34077 0.91133,-0.72394 1.27656,-1.1489c0.36523,-0.42496 0.66973,-0.88875 0.91375,-1.3975c0.24403,-0.50875 0.42866,-1.06069 0.55094,-1.65281c0.12228,-0.59212 0.1814,-1.2263 0.1814,-1.9014c0,-0.645 -0.05496,-1.25762 -0.16797,-1.83422c-0.11301,-0.57661 -0.28192,-1.11451 -0.5039,-1.61922c-0.22199,-0.50471 -0.49947,-0.97489 -0.82641,-1.40422c-0.32693,-0.42933 -0.70762,-0.81861 -1.13547,-1.16906c-0.42785,-0.35045 -0.89964,-0.65911 -1.42438,-0.92719c-0.52473,-0.26808 -1.10241,-0.49638 -1.72,-0.67859c-0.61759,-0.18221 -1.27562,-0.32371 -1.98203,-0.41656c-0.70641,-0.09285 -1.45958,-0.13437 -2.25078,-0.13437zM3.44,110.08v20.64c0,13.22837 10.85164,24.08 24.08,24.08h12.33563l-11.32781,11.32781l4.86437,4.86437l19.63219,-19.63219l-19.63219,-19.63219l-4.86437,4.86437l11.32781,11.32781h-12.33563c-9.47564,0 -17.2,-7.72437 -17.2,-17.2v-20.64zM106.36453,120.57469v17.88531h12.55734c0.9589,0 1.85767,-0.0516 2.70094,-0.14781c0.84327,-0.09621 1.63185,-0.23865 2.35828,-0.43c0.72643,-0.19135 1.3938,-0.42677 2.00219,-0.71219c0.60838,-0.28541 1.15697,-0.61598 1.64609,-0.99437c0.48913,-0.3784 0.91462,-0.80625 1.28328,-1.27656c0.36866,-0.47031 0.68021,-0.98416 0.92719,-1.54531c0.24698,-0.56115 0.43356,-1.16987 0.55765,-1.82078c0.12409,-0.65091 0.18813,-1.34321 0.18813,-2.08281c0,-1.4706 -0.26284,-2.76221 -0.77938,-3.87c-0.25827,-0.55389 -0.58151,-1.06257 -0.9675,-1.52515c-0.38599,-0.46259 -0.8377,-0.87881 -1.35047,-1.24969c-0.51278,-0.37088 -1.0881,-0.69546 -1.72672,-0.97422c-0.63862,-0.27876 -1.33945,-0.51251 -2.10297,-0.69875c-0.76352,-0.18625 -1.58502,-0.32996 -2.4725,-0.42328c-0.88748,-0.09332 -1.83825,-0.13438 -2.84875,-0.13438z">
                  </path>
                </g>
              </g>
            </svg>
          </div>
          <div>
            <h4>BUILD YOUR PORTFOLIO</h4>
            <p>We’ll help you pick an investment strategy that reflects your interests,beliefs and goals..</p>
            <a href="#">EXPLORE OUR INVESTING</a>
          </div>
        </div>
      </div>

    </div>
  </section>

  <section class="customers">
    <div class="container pb-3 table-responsive-sm ">
      <div class="customers-header gs_reveal">
        <h4>NEW INVESTORS</h4>
        <h2>LATEST WITHDRAWALS</h2>
        <p>Our goal is to simplify investing so that anyone can be an investor, With this in mind, We hand-pick the
          investments we offer on our platform.</p>
      </div>5
      <table class="table table-borderless gs_reveal">
        <thead>
          <tr class="table-top">
            <th scope="col">INVESTOR</th>
            <th scope="col">AMOUNTS</th>
            <th scope="col">DAILY DIVIDEND</th>
            <th scope="col">DEPOSIT BY</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">Jim Adams</th>
            <td>$10500</td>
            <td>$2050</td>
            <td>07/01/22</td>
          </tr>
          <tr>
            <th scope="row">Sheryl Tran</th>
            <td>$2000</td>
            <td>$350</td>
            <td>21/01/22</td>
          </tr>
          <tr>
            <th scope="row">Clark Powell</th>
            <td>$5100</td>
            <td>$705</td>
            <td>28/01/22</td>
          </tr>
          <tr>
            <th scope="row">Rick Scott</th>
            <td>$15000</td>
            <td>$5500</td>
            <td>06/02/22</td>
          </tr>

        </tbody>
      </table>
    </div>
  </section>

  <div
    class="d-flex flex-column flex-sm-column flex-md-row flex-lg-row bd-highlight mb-3 gradient-section flex-wrap py-4 mb-5">
    <h1 class="market-title"></h1>
    <p class="market-desc gs_reveal">Get indept insight on the market with our advanced indept technical analysis to
      guide you
    </p>
    <p class="market-info gs_reveal">Learn about products, add them to your portfolio and sync with our mobile app.</p>
    <p class="market-quotes gs_reveal">Quotes are delayed by at least 10 minutes. <br>
    <h6 class="market-date gs_reveal" id="date"></h6>
    </p>
    <div class="gradient-1 gs_reveal">
      <!-- TradingView Widget BEGIN -->
      <div class="tradingview-widget-container">
        <div class="tradingview-widget-container__widget"></div>
        <div class="tradingview-widget-copyright"><a
            href="https://www.tradingview.com/markets/currencies/forex-cross-rates/" rel="noopener"
            target="_blank"><span class="blue-text">Exchange Rates</span></a> by TradingView</div>
        <script type="text/javascript"
          src="https://s3.tradingview.com/external-embedding/embed-widget-forex-cross-rates.js" async>
            {
              "width": "100%",
                "height": "100%",
                  "currencies": [
                    "EUR",
                    "USD",
                    "JPY",
                    "GBP",
                    "CHF",
                    "AUD",
                    "CAD",
                    "NZD",
                    "CNY"
                  ],
                    "isTransparent": true,
                      "colorTheme": "dark",
                        "locale": "en"
            }
          </script>
      </div>
      <!-- TradingView Widget END -->
    </div>
    <div class="gradient-1 gs_reveal">
      <!-- TradingView Widget BEGIN -->
      <div class="tradingview-widget-container text-white">
        <div class="tradingview-widget-container__widget"></div>
        <div class="tradingview-widget-copyright"><a
            href="https://www.tradingview.com/markets/currencies/economic-calendar/" rel="noopener"
            target="_blank"><span class="blue-text">Economic Calendar</span></a> by TradingView</div>
        <script type="text/javascript" src="https://s3.tradingview.com/external-embedding/embed-widget-events.js" async>
          {
            "width": "100%",
              "height": "100%",
                "colorTheme": "dark",
                  "isTransparent": true,
                    "locale": "en",
                      "importanceFilter": "-1,0,1"
          }
        </script>
      </div>
      <!-- TradingView Widget END -->
    </div>

    <div class="gradient-1 gs_reveal">
      <!-- TradingView Widget BEGIN -->
      <div class="tradingview-widget-container">
        <div class="tradingview-widget-container__widget"></div>
        <div class="tradingview-widget-copyright"><a href="https://www.tradingview.com/symbols/NASDAQ-AAPL/technicals/"
            rel="noopener" target="_blank"><span class="blue-text">Technical Analysis for AAPL</span></a> by TradingView
        </div>
        <script type="text/javascript"
          src="https://s3.tradingview.com/external-embedding/embed-widget-technical-analysis.js" async>
            {
              "interval": "1m",
                "width": "100%",
                  "isTransparent": true,
                    "height": "100%",
                      "symbol": "NASDAQ:AAPL",
                        "showIntervalTabs": true,
                          "locale": "en",
                            "colorTheme": "dark"
            }
          </script>
      </div>
      <!-- TradingView Widget END -->
    </div>

    <div class="gradient-1 gs_reveal">
      <!-- TradingView Widget BEGIN -->
      <div class="tradingview-widget-container">
        <div class="tradingview-widget-container__widget"></div>
        <div class="tradingview-widget-copyright"><a href="https://www.tradingview.com/markets/stocks-usa/"
            rel="noopener" target="_blank"><span class="blue-text">Stock Market Today</span></a> by TradingView</div>
        <script type="text/javascript" src="https://s3.tradingview.com/external-embedding/embed-widget-hotlists.js"
          async>
            {
              "colorTheme": "dark",
                "dateRange": "12M",
                  "exchange": "US",
                    "showChart": true,
                      "locale": "en",
                        "width": "100%",
                          "height": "100%",
                            "largeChartUrl": "",
                              "isTransparent": true,
                                "showSymbolLogo": false,
                                  "showFloatingTooltip": false,
                                    "plotLineColorGrowing": "rgba(41, 98, 255, 1)",
                                      "plotLineColorFalling": "rgba(41, 98, 255, 1)",
                                        "gridLineColor": "rgba(240, 243, 250, 0)",
                                          "scaleFontColor": "rgba(120, 123, 134, 1)",
                                            "belowLineFillColorGrowing": "rgba(41, 98, 255, 0.12)",
                                              "belowLineFillColorFalling": "rgba(41, 98, 255, 0.12)",
                                                "belowLineFillColorGrowingBottom": "rgba(41, 98, 255, 0)",
                                                  "belowLineFillColorFallingBottom": "rgba(41, 98, 255, 0)",
                                                    "symbolActiveColor": "rgba(41, 98, 255, 0.12)"
            }
          </script>
      </div>
      <!-- TradingView Widget END -->
    </div>

    <div class="gradient-1 gs_reveal">
      <!-- TradingView Widget BEGIN -->
      <div class="tradingview-widget-container">
        <div class="tradingview-widget-container__widget"></div>
        <div class="tradingview-widget-copyright"><a href="https://www.tradingview.com/forex-screener/" rel="noopener"
            target="_blank"><span class="blue-text">Forex Screener</span></a> by TradingView</div>
        <script type="text/javascript" src="https://s3.tradingview.com/external-embedding/embed-widget-screener.js"
          async>
            {
              "width": "100%",
                "height": "100%",
                  "defaultColumn": "overview",
                    "defaultScreen": "general",
                      "market": "forex",
                        "showToolbar": true,
                          "colorTheme": "dark",
                            "locale": "en",
                              "isTransparent": true
            }
          </script>
      </div>
      <!-- TradingView Widget END -->
    </div>
    <div class="gradient-1 gs_reveal">
      <!-- TradingView Widget BEGIN -->
      <div class="tradingview-widget-container">
        <div class="tradingview-widget-container__widget"></div>
        <div class="tradingview-widget-copyright"><a
            href="https://www.tradingview.com/symbols/NASDAQ-AAPL/financials-overview/" rel="noopener"
            target="_blank"><span class="blue-text">AAPL Fundamental Data</span></a> by TradingView</div>
        <script type="text/javascript" src="https://s3.tradingview.com/external-embedding/embed-widget-financials.js"
          async>
            {
              "symbol": "NASDAQ:AAPL",
                "colorTheme": "dark",
                  "isTransparent": true,
                    "largeChartUrl": "",
                      "displayMode": "regular",
                        "width": "100%",
                          "height": "100%",
                            "locale": "en"
            }
          </script>
      </div>
      <!-- TradingView Widget END -->
    </div>

    <div class="gradient-1 gs_reveal">
      <!-- TradingView Widget BEGIN -->
      <div class="tradingview-widget-container">
        <div class="tradingview-widget-container__widget"></div>
        <div class="tradingview-widget-copyright"><a href="https://www.tradingview.com/key-events/" rel="noopener"
            target="_blank"><span class="blue-text">Daily news roundup</span></a> by TradingView</div>
        <script type="text/javascript" src="https://s3.tradingview.com/external-embedding/embed-widget-timeline.js"
          async>
            {
              "feedMode": "all_symbols",
                "colorTheme": "dark",
                  "isTransparent": true,
                    "displayMode": "regular",
                      "width": "100%",
                        "height": "100%",
                          "locale": "en"
            }
          </script>
      </div>
      <!-- TradingView Widget END -->
    </div>

    <div class="gradient-1 gs_reveal">
      <!-- TradingView Widget BEGIN -->
      <div class="tradingview-widget-container">
        <div class="tradingview-widget-container__widget"></div>
        <div class="tradingview-widget-copyright"><a href="https://www.tradingview.com/markets/" rel="noopener"
            target="_blank"><span class="blue-text">Financial Markets</span></a> by TradingView</div>
        <script type="text/javascript"
          src="https://s3.tradingview.com/external-embedding/embed-widget-market-overview.js" async>
            {
              "colorTheme": "dark",
                "dateRange": "12M",
                  "showChart": true,
                    "locale": "en",
                      "width": "100%",
                        "height": "100%",
                          "largeChartUrl": "",
                            "isTransparent": true,
                              "showSymbolLogo": true,
                                "showFloatingTooltip": false,
                                  "plotLineColorGrowing": "rgba(41, 98, 255, 1)",
                                    "plotLineColorFalling": "rgba(41, 98, 255, 1)",
                                      "gridLineColor": "rgba(240, 243, 250, 0)",
                                        "scaleFontColor": "rgba(120, 123, 134, 1)",
                                          "belowLineFillColorGrowing": "rgba(41, 98, 255, 0.12)",
                                            "belowLineFillColorFalling": "rgba(41, 98, 255, 0.12)",
                                              "belowLineFillColorGrowingBottom": "rgba(41, 98, 255, 0)",
                                                "belowLineFillColorFallingBottom": "rgba(41, 98, 255, 0)",
                                                  "symbolActiveColor": "rgba(41, 98, 255, 0.12)",
                                                    "tabs": [
                                                      {
                                                        "title": "Indices",
                                                        "symbols": [
                                                          {
                                                            "s": "FOREXCOM:SPXUSD",
                                                            "d": "S&P 500"
                                                          },
                                                          {
                                                            "s": "FOREXCOM:NSXUSD",
                                                            "d": "US 100"
                                                          },
                                                          {
                                                            "s": "FOREXCOM:DJI",
                                                            "d": "Dow 30"
                                                          },
                                                          {
                                                            "s": "INDEX:NKY",
                                                            "d": "Nikkei 225"
                                                          },
                                                          {
                                                            "s": "INDEX:DEU40",
                                                            "d": "DAX Index"
                                                          },
                                                          {
                                                            "s": "FOREXCOM:UKXGBP",
                                                            "d": "UK 100"
                                                          }
                                                        ],
                                                        "originalTitle": "Indices"
                                                      },
                                                      {
                                                        "title": "Futures",
                                                        "symbols": [
                                                          {
                                                            "s": "CME_MINI:ES1!",
                                                            "d": "S&P 500"
                                                          },
                                                          {
                                                            "s": "CME:6E1!",
                                                            "d": "Euro"
                                                          },
                                                          {
                                                            "s": "COMEX:GC1!",
                                                            "d": "Gold"
                                                          },
                                                          {
                                                            "s": "NYMEX:CL1!",
                                                            "d": "Crude Oil"
                                                          },
                                                          {
                                                            "s": "NYMEX:NG1!",
                                                            "d": "Natural Gas"
                                                          },
                                                          {
                                                            "s": "CBOT:ZC1!",
                                                            "d": "Corn"
                                                          }
                                                        ],
                                                        "originalTitle": "Futures"
                                                      },
                                                      {
                                                        "title": "Bonds",
                                                        "symbols": [
                                                          {
                                                            "s": "CME:GE1!",
                                                            "d": "Eurodollar"
                                                          },
                                                          {
                                                            "s": "CBOT:ZB1!",
                                                            "d": "T-Bond"
                                                          },
                                                          {
                                                            "s": "CBOT:UB1!",
                                                            "d": "Ultra T-Bond"
                                                          },
                                                          {
                                                            "s": "EUREX:FGBL1!",
                                                            "d": "Euro Bund"
                                                          },
                                                          {
                                                            "s": "EUREX:FBTP1!",
                                                            "d": "Euro BTP"
                                                          },
                                                          {
                                                            "s": "EUREX:FGBM1!",
                                                            "d": "Euro BOBL"
                                                          }
                                                        ],
                                                        "originalTitle": "Bonds"
                                                      },
                                                      {
                                                        "title": "Forex",
                                                        "symbols": [
                                                          {
                                                            "s": "FX:EURUSD"
                                                          },
                                                          {
                                                            "s": "FX:GBPUSD"
                                                          },
                                                          {
                                                            "s": "FX:USDJPY"
                                                          },
                                                          {
                                                            "s": "FX:USDCHF"
                                                          },
                                                          {
                                                            "s": "FX:AUDUSD"
                                                          },
                                                          {
                                                            "s": "FX:USDCAD"
                                                          }
                                                        ],
                                                        "originalTitle": "Forex"
                                                      }
                                                    ]
            }
          </script>
      </div>
      <!-- TradingView Widget END -->
    </div>

    <div class="gradient-1 gs_reveal">
      <!-- TradingView Widget BEGIN -->
      <div class="tradingview-widget-container">
        <div class="tradingview-widget-container__widget"></div>
        <div class="tradingview-widget-copyright"><a href="https://www.tradingview.com/symbols/NASDAQ-AAPL/"
            rel="noopener" target="_blank"><span class="blue-text">AAPL Profile</span></a> by TradingView</div>
        <script type="text/javascript"
          src="https://s3.tradingview.com/external-embedding/embed-widget-symbol-profile.js" async>
            {
              "symbol": "NASDAQ:AAPL",
                "width": "100%",
                  "height": "100%",
                    "colorTheme": "dark",
                      "isTransparent": true,
                        "locale": "en"
            }
          </script>
      </div>
      <!-- TradingView Widget END -->
    </div>


    <div class="gradient-1 gs_reveal">
      <!-- TradingView Widget BEGIN -->
      <div class="tradingview-widget-container">
        <div class="tradingview-widget-container__widget"></div>
        <div class="tradingview-widget-copyright"><a
            href="https://www.tradingview.com/markets/cryptocurrencies/prices-all/" rel="noopener" target="_blank"><span
              class="blue-text">Cryptocurrency Markets</span></a> by TradingView</div>
        <script type="text/javascript" src="https://s3.tradingview.com/external-embedding/embed-widget-screener.js"
          async>
            {
              "width": "100%",
                "height": "100%",
                  "defaultColumn": "overview",
                    "screener_type": "crypto_mkt",
                      "displayCurrency": "USD",
                        "colorTheme": "dark",
                          "locale": "en",
                            "isTransparent": true
            }
          </script>
      </div>
      <!-- TradingView Widget END -->
    </div>

    <div class="gradient-1 gs_reveal">
      <!-- TradingView Widget BEGIN -->
      <div class="tradingview-widget-container">
        <div class="tradingview-widget-container__widget"></div>
        <div class="tradingview-widget-copyright"><a href="https://www.tradingview.com/symbols/NASDAQ-AAPL/"
            rel="noopener" target="_blank"><span class="blue-text">AAPL Price Today</span></a> by TradingView</div>
        <script type="text/javascript" src="https://s3.tradingview.com/external-embedding/embed-widget-symbol-info.js"
          async>
            {
              "symbol": "NASDAQ:AAPL",
                "width": "100%",
                  "locale": "en",
                    "colorTheme": "dark",
                      "isTransparent": true
            }
          </script>
      </div>
      <!-- TradingView Widget END -->
    </div>

    <div class="gradient-1 gs_reveal">
      <!-- TradingView Widget BEGIN -->
      <div class="tradingview-widget-container">
        <div class="tradingview-widget-container__widget"></div>
        <div class="tradingview-widget-copyright"><a href="https://www.tradingview.com/symbols/EURUSD/?exchange=FX"
            rel="noopener" target="_blank"><span class="blue-text">EURUSD Rates</span></a> by TradingView</div>
        <script type="text/javascript"
          src="https://s3.tradingview.com/external-embedding/embed-widget-mini-symbol-overview.js" async>
            {
              "symbol": "FX:EURUSD",
                "width": "100%",
                  "height": "100%",
                    "locale": "en",
                      "dateRange": "12M",
                        "colorTheme": "dark",
                          "trendLineColor": "rgba(41, 98, 255, 1)",
                            "underLineColor": "rgba(41, 98, 255, 0.3)",
                              "underLineBottomColor": "rgba(41, 98, 255, 0)",
                                "isTransparent": true,
                                  "autosize": true,
                                    "largeChartUrl": ""
            }
          </script>
      </div>
      <!-- TradingView Widget END -->
    </div>
  </div>

  <!-- testimonial-section -->
  <div class="testimonial-section mb-3">
    <div class="container d-flex flex-column flex-md-column flex-lg-row">
      <div class="aff-left mb-4 gs_reveal">
        <h4>EARN THE BIG MONEY</h4>
        <h2>AFFILIANT PROGRAM</h2>
        <p>Our affiliate program can increase your income by receiving percentage from the purchases made by your
          referrals into.
        </p>

        <p>Invite other users (for example, your friends, co-workers, etc.) to join the project. After registration they
          will be
          your referrals; and if they purchase any item on our web site you receive 24% reward.</p>
        <button class="btn btn-login">READ MORE</button>
      </div>
      <div class="aff-right d-flex flex-column flex-md-row flex-lg-row justify-content-around text-center">

        <div class="aff-features-items gs_reveal">
          <div class="icon">
            <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="58" height="58" viewBox="0 0 172 172"
              style=" fill:#000000;">
              <g fill="none" fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt"
                stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0"
                font-family="none" font-weight="none" font-size="none" text-anchor="none"
                style="mix-blend-mode: normal">
                <path d="M0,172v-172h172v172z" fill="none"></path>
                <g fill="#20628a">
                  <path
                    d="M86.18663,0c-6.79336,-0.04125 -13.5967,3.55048 -16.70428,10.83255c-1.21392,2.84498 -4.58145,4.17304 -7.39924,2.9775c-14.55127,-5.84506 -29.32769,9.10694 -23.5429,23.68431c1.14079,2.87475 -0.30762,6.20848 -3.139,7.36837c-14.36862,6.20633 -14.37152,27.28834 -0.00144,33.49541c2.82477,1.22017 4.14474,4.60406 2.96242,7.43728c-5.78479,14.57626 8.97594,29.54093 23.53788,23.69293c2.91077,-1.16909 6.09302,0.36928 7.32459,3.15767c6.16627,14.44984 27.12634,14.45383 33.29299,0.00215c1.21392,-2.84498 4.58145,-4.17304 7.39924,-2.9775c14.55127,5.84543 29.32769,-9.1066 23.5429,-23.6836c-1.14005,-2.87255 0.3045,-6.20264 3.13111,-7.36622c14.36972,-6.2067 14.38677,-27.28899 0.00933,-33.499c-2.80566,-1.21209 -4.14166,-4.4503 -3.01411,-7.30521c6.22214,-14.55384 -9.08414,-29.60907 -23.4862,-23.82428c-2.838,1.13968 -6.06202,-0.20226 -7.2686,-3.02703c-3.06788,-7.24936 -9.85134,-10.92409 -16.6447,-10.96534zM72.66156,23.08278h9.53905v6.5436h6.07056v-6.5436h9.53905v7.30736c7.80468,2.15956 13.56455,9.377 13.56455,17.92959c0,5.46688 -2.35817,10.38917 -6.10358,13.79425c3.74541,3.40472 6.10358,8.32631 6.10358,13.79282c0,8.55259 -5.75987,15.7704 -13.56455,17.92959v7.76604h-9.53905v-7.41575h-6.07056v7.41575h-9.53905v-7.41575h-12.13969v-9.59719h6.93697v-45.36664h-6.93697v-9.59647h11.87195h0.26774zM76.99788,39.22286v17.88508h15.86013c4.9303,0 8.9411,-3.98247 8.9411,-8.94254c0,-4.96007 -4.0108,-8.94254 -8.9411,-8.94254zM50.98354,58.41652h8.67121v9.16076h-8.67121zM115.15335,58.41652h9.10549v9.16076h-9.10549zM76.9986,66.70513v17.88508h15.86013c4.9303,0 8.9411,-3.98247 8.9411,-8.94254c0,-4.96007 -4.01117,-8.94254 -8.9411,-8.94254zM43.8341,119.87944l-15.37991,42.47743l12.37226,-4.84238c4.01444,-1.96587 5.94145,0.679 6.96352,2.51881l6.64553,11.9667l15.15452,-41.85437c-3.35326,-2.23563 -6.21032,-5.164 -8.4092,-8.62311c-5.86858,1.25876 -11.88976,0.67855 -17.34672,-1.64308zM128.37909,119.89523c-5.61095,2.4929 -11.8365,3.12102 -17.91236,1.77516c-2.10332,3.26432 -4.79743,6.05451 -7.94047,8.22473l15.24496,42.10488l6.64553,-11.9667c1.37196,-2.46974 4.34382,-3.54346 6.96424,-2.51881l12.37226,4.84166z">
                  </path>
                </g>
              </g>
            </svg>
          </div>
          <div class="info">
            <span>ENJOY UNLIMITED</span>
            <h4>COMMISIONS</h4>
            <p>The more User you refer, the more commissions we’ll pay you. Plain and simple.</p>
          </div>
        </div>

        <div class="aff-features-items gs_reveal">
          <div class="icon">
            <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="64" height="64" viewBox="0 0 172 172"
              style=" fill:#000000;">
              <g fill="none" fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt"
                stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0"
                font-family="none" font-weight="none" font-size="none" text-anchor="none"
                style="mix-blend-mode: normal">
                <path d="M0,172v-172h172v172z" fill="none"></path>
                <g fill="#20628a">
                  <path
                    d="M23.85091,8.73372c-4.63056,0 -8.39844,3.7662 -8.39844,8.39844c0,4.63056 3.76788,8.39844 8.39844,8.39844c4.63056,0 8.39844,-3.76787 8.39844,-8.39844c0,-4.63224 -3.76787,-8.39844 -8.39844,-8.39844zM109.51497,8.73372c-1.85505,0 -3.35937,1.50433 -3.35937,3.35938h-6.71875c-1.85505,0 -3.35937,1.50433 -3.35937,3.35938v3.35938c0,6.24978 4.28959,11.51677 10.07813,13.01102v0.42648c0,6.24978 4.28991,11.51677 10.07878,13.01102v7.14523h-13.43816c-1.85505,0 -3.35937,1.50433 -3.35937,3.35938v16.79688h-13.4375c-1.85505,0 -3.35937,1.50433 -3.35937,3.35938v5.62302h-13.4375c-1.85505,0 -3.35937,1.50433 -3.35937,3.35938v4.45576h-13.4375c-1.85505,0 -3.35937,1.50466 -3.35937,3.35938v6.71875h-13.4375c-1.85505,0 -3.35938,1.50466 -3.35938,3.35938v43.67188h-6.71875c-1.85505,0 -3.35937,1.50498 -3.35937,3.36003v6.71875h-6.71875c-1.85505,0 -3.35937,1.50466 -3.35937,3.35938c0,1.85505 1.50433,3.35938 3.35938,3.35938h141.09506c1.85505,0 3.35938,-1.50433 3.35938,-3.35937c0,-1.85505 -1.50498,-3.35937 -3.36003,-3.35937h-6.71875v-6.71875c0,-1.85471 -1.50433,-3.36003 -3.35937,-3.36003h-6.71875v-90.70378c0,-1.85505 -1.50433,-3.35937 -3.35937,-3.35937h-13.4375v-7.14523c5.78854,-1.49425 10.07813,-6.76157 10.07813,-13.01102v-0.42648c5.78854,-1.49425 10.07813,-6.76124 10.07813,-13.01102v-3.35937c0,-1.85505 -1.50433,-3.35937 -3.35937,-3.35937h-6.71875c0,-1.85505 -1.50433,-3.35937 -3.35937,-3.35937zM72.56184,12.09309c-1.85533,0 -3.35937,1.50404 -3.35937,3.35938c0,1.85533 1.50404,3.35938 3.35938,3.35938c1.85533,0 3.35938,-1.50404 3.35938,-3.35937c0,-1.85533 -1.50404,-3.35937 -3.35937,-3.35937zM153.1875,12.09309c-1.85533,0 -3.35937,1.50404 -3.35937,3.35938c0,1.85533 1.50404,3.35938 3.35938,3.35938c1.85533,0 3.35938,-1.50404 3.35938,-3.35937c0,-1.85533 -1.50404,-3.35937 -3.35937,-3.35937zM23.85091,15.45247c0.92517,0 1.67969,0.75284 1.67969,1.67969c0,0.92517 -0.75452,1.67969 -1.67969,1.67969c-0.92685,0 -1.67969,-0.75452 -1.67969,-1.67969c0,-0.92685 0.75284,-1.67969 1.67969,-1.67969zM112.87434,15.45247h13.43816v16.79688c0,3.70371 -3.0137,6.71875 -6.71875,6.71875c-3.70573,0 -6.71941,-3.01504 -6.71941,-6.71875zM102.79622,18.81184h3.35938v5.81723c-2.00622,-1.16302 -3.35937,-3.33566 -3.35937,-5.81723zM133.03125,18.81184h3.35938c0,2.48191 -1.35316,4.65421 -3.35937,5.81723zM154.86719,28.88997c-6.48259,0 -11.75781,5.27523 -11.75781,11.75781c0,6.48259 5.27523,11.75781 11.75781,11.75781c6.48259,0 11.75781,-5.27523 11.75781,-11.75781c0,-6.48259 -5.27523,-11.75781 -11.75781,-11.75781zM37.28841,28.89325c-2.15072,0 -4.30206,0.81934 -5.93993,2.4572c-2.27027,2.27027 -2.96396,5.52609 -2.08649,8.40172l-5.18144,3.38234c-3.11649,-1.46973 -6.95533,-0.92017 -9.52895,1.65344c-3.27405,3.27405 -3.27405,8.6012 0,11.87591c1.6387,1.63736 3.78959,2.4572 5.93993,2.4572c5.63938,0 9.67822,-5.4426 8.02641,-10.85892l5.18013,-3.38168c2.37038,1.11867 5.14399,1.066 7.47002,-0.14304l8.13402,3.94005c-1.32695,5.31453 2.67382,10.44359 8.14255,10.44359c5.63938,0 9.67821,-5.4426 8.02641,-10.85892l5.18013,-3.38168c3.14135,1.48115 6.97281,0.90237 9.52829,-1.65344c3.27573,-3.27405 3.27573,-8.60219 0,-11.87657c-3.27405,-3.27573 -8.6015,-3.27573 -11.87723,0c-2.27027,2.27027 -2.96396,5.52609 -2.08649,8.40172l-5.1821,3.38234c-2.36198,-1.11531 -5.14067,-1.06797 -7.46805,0.14107l-8.13599,-3.94005c0.69237,-2.7688 -0.04118,-5.82466 -2.20328,-7.98508c-1.63702,-1.63786 -3.78725,-2.4572 -5.93796,-2.4572zM154.86719,35.60872c2.77854,0 5.03906,2.26052 5.03906,5.03906c0,2.77854 -2.26052,5.03906 -5.03906,5.03906c-2.77854,0 -5.03906,-2.26052 -5.03906,-5.03906c0,-2.77854 2.26052,-5.03906 5.03906,-5.03906zM37.28841,35.60938c0.43017,0 0.86039,0.16405 1.18759,0.49209c0.65441,0.65441 0.65441,1.71844 0,2.37453c-0.65441,0.65441 -1.72078,0.65441 -2.37518,0c-0.65609,-0.65609 -0.65609,-1.72012 0,-2.37453c0.3272,-0.32804 0.75742,-0.49209 1.18759,-0.49209zM74.24153,35.60938c0.43017,0 0.86039,0.16405 1.18759,0.49209c0.65441,0.65441 0.65441,1.71844 0,2.37453c-0.65441,0.65441 -1.72012,0.65441 -2.37453,0c-0.65609,-0.65609 -0.65609,-1.72012 0,-2.37453c0.3272,-0.32804 0.75677,-0.49209 1.18694,-0.49209zM20.49153,49.04688c0.43017,0 0.86039,0.16405 1.18759,0.49209c0.65441,0.65441 0.65441,1.71844 0,2.37453c-0.65441,0.65441 -1.72078,0.65441 -2.37518,0c-0.65609,-0.65609 -0.65609,-1.72012 0,-2.37453c0.3272,-0.32804 0.75742,-0.49209 1.18759,-0.49209zM57.44466,49.04688c0.43012,0 0.86022,0.16405 1.18759,0.49209c0.65441,0.65441 0.65441,1.71844 0,2.37453c-0.65441,0.65441 -1.72012,0.65441 -2.37453,0c-0.65609,-0.65609 -0.65609,-1.72012 0,-2.37453c0.3272,-0.32804 0.75681,-0.49209 1.18694,-0.49209zM89.45976,49.04753c-0.64696,-0.01997 -1.30686,0.14668 -1.89555,0.51769l-63.82812,40.3125c-1.56816,0.99068 -2.0372,3.06607 -1.04652,4.63423c0.99236,1.57185 3.06943,2.0352 4.63423,1.04587l63.83009,-40.31119c1.56816,-0.99068 2.03621,-3.06739 1.04587,-4.63554c-0.61918,-0.9801 -1.66172,-1.53027 -2.73999,-1.56355zM106.15559,59.12434h10.07878v87.34441h-10.07878zM122.95313,59.12434h10.07813v87.34441h-10.07812zM32.24934,65.84375c-1.85533,0 -3.35937,1.50404 -3.35937,3.35938c0,1.85533 1.50404,3.35938 3.35938,3.35938c1.85533,0 3.35938,-1.50404 3.35938,-3.35937c0,-1.85533 -1.50404,-3.35937 -3.35937,-3.35937zM89.35872,79.28125h10.07813v67.1875h-10.07812zM149.82813,79.28125c-1.85533,0 -3.35937,1.50404 -3.35937,3.35938c0,1.85533 1.50404,3.35938 3.35938,3.35938c1.85533,0 3.35938,-1.50404 3.35938,-3.35937c0,-1.85533 -1.50404,-3.35937 -3.35937,-3.35937zM72.56184,88.26364h10.07813v58.20511h-10.07812zM55.76497,96.07813h10.07813v50.39063h-10.07813zM15.45247,102.79688c-5.55741,0 -10.07812,4.52071 -10.07812,10.07813c0,5.55741 4.52071,10.07813 10.07813,10.07813c5.55741,0 10.07813,-4.52071 10.07813,-10.07812c0,-5.55741 -4.52071,-10.07812 -10.07812,-10.07812zM38.96809,106.15625h10.07813v40.3125h-10.07812zM15.45247,109.51563c1.85202,0 3.35938,1.50702 3.35938,3.35938c0,1.85236 -1.50735,3.35938 -3.35937,3.35938c-1.8537,0 -3.35937,-1.50702 -3.35937,-3.35937c0,-1.85236 1.50567,-3.35937 3.35938,-3.35937zM22.17122,129.67188c-1.85533,0 -3.35937,1.50404 -3.35937,3.35938c0,1.85533 1.50404,3.35938 3.35938,3.35938c1.85533,0 3.35938,-1.50404 3.35938,-3.35937c0,-1.85533 -1.50404,-3.35937 -3.35937,-3.35937zM28.88997,153.18816h114.21941v3.35938h-114.21941z">
                  </path>
                </g>
              </g>
            </svg>
          </div>
          <div class="info">
            <span>EXTRA BONUS AND</span>
            <h4>PROMOTIONS</h4>
            <p>Boost your monthly earnings with additional promotional opportunities.</p>
          </div>
        </div>

        <div class="aff-features-items gs_reveal">
          <div class="icon">
            <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="48" height="48" viewBox="0 0 226 226"
              style=" fill:#000000;">
              <defs>
                <radialGradient cx="111.19671" cy="131.61204" r="100.46642" gradientUnits="userSpaceOnUse"
                  id="color-1_UveN44WODIpA_gr1">
                  <stop offset="0.376" stop-color="#261103"></stop>
                  <stop offset="0.68" stop-color="#431d06"></stop>
                  <stop offset="1" stop-color="#662c09"></stop>
                </radialGradient>
                <radialGradient cx="113.08324" cy="121.78939" r="76.27481" gradientUnits="userSpaceOnUse"
                  id="color-2_UveN44WODIpA_gr2">
                  <stop offset="0" stop-color="#ffcf54"></stop>
                  <stop offset="0.261" stop-color="#fdcb4d"></stop>
                  <stop offset="0.639" stop-color="#f7c13a"></stop>
                  <stop offset="1" stop-color="#f0b421"></stop>
                </radialGradient>
                <radialGradient cx="61.45788" cy="17.55738" r="234.27254" gradientUnits="userSpaceOnUse"
                  id="color-3_UveN44WODIpA_gr3">
                  <stop offset="0" stop-color="#c26715"></stop>
                  <stop offset="0.508" stop-color="#b85515"></stop>
                  <stop offset="1" stop-color="#ad3f16"></stop>
                </radialGradient>
                <linearGradient x1="103.01363" y1="173.63863" x2="122.98637" y2="193.61138"
                  gradientUnits="userSpaceOnUse" id="color-4_UveN44WODIpA_gr4">
                  <stop offset="0" stop-color="#33bef0"></stop>
                  <stop offset="1" stop-color="#20628a"></stop>
                </linearGradient>
                <linearGradient x1="182.44792" y1="118.88542" x2="213.05208" y2="149.48958"
                  gradientUnits="userSpaceOnUse" id="color-5_UveN44WODIpA_gr5">
                  <stop offset="0" stop-color="#33bef0"></stop>
                  <stop offset="1" stop-color="#20628a"></stop>
                </linearGradient>
              </defs>
              <g fill="none" fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt"
                stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0"
                font-family="none" font-weight="none" font-size="none" text-anchor="none"
                style="mix-blend-mode: normal">
                <path d="M0,226v-226h226v226z" fill="none"></path>
                <g>
                  <path
                    d="M113,40.70354c-75.45575,0 -94.16667,121.83754 -94.16667,121.83754c0,21.69129 10.07112,40.69412 31.16917,45.73204c18.06587,4.31283 40.80242,8.31021 62.9975,8.31021c22.19508,0 44.93163,-3.99737 62.9975,-8.31492c21.09804,-5.03792 31.16917,-24.04075 31.16917,-45.73204c0,0 -18.71092,-121.83283 -94.16667,-121.83283z"
                    fill="url(#color-1_UveN44WODIpA_gr1)"></path>
                  <path
                    d="M113,36.40954c32.52517,0 65.91667,13.18333 65.91667,83.49288c0,5.62646 0,21.30521 0,27.31775c0,25.10483 -40.36925,59.9465 -65.91667,59.9465c-25.54742,0 -65.91667,-34.84167 -65.91667,-59.94179c0,-6.01254 0,-21.69129 0,-27.31775c0,-70.31425 33.3915,-83.49758 65.91667,-83.49758z"
                    fill="url(#color-2_UveN44WODIpA_gr2)"></path>
                  <path
                    d="M113,14.125c-37.58192,0 -47.08333,23.54167 -47.08333,23.54167c-15.27854,2.25529 -47.08333,23.43808 -47.08333,124.79438c0,27.53433 13.786,37.64313 18.83333,40.58583c-36.53667,-107.4065 47.18221,-94.97179 34.72396,-154.77233c35.88221,79.73092 148.90104,22.35046 119.35154,152.25808c8.73867,-6.64346 15.4245,-19.97275 15.4245,-38.07158c0,-100.005 -40.57171,-148.33604 -94.16667,-148.33604z"
                    fill="url(#color-3_UveN44WODIpA_gr3)"></path>
                  <path
                    d="M178.91667,188.33333h-65.91667v-9.41667h65.91667c7.78758,0 14.125,-6.33742 14.125,-14.125v-32.95833h9.41667v32.95833c0,12.98087 -10.56079,23.54167 -23.54167,23.54167z"
                    fill="#20628a"></path>
                  <path
                    d="M127.125,183.625c0,7.80171 -6.32329,14.125 -14.125,14.125c-7.80171,0 -14.125,-6.32329 -14.125,-14.125c0,-7.80171 6.32329,-14.125 14.125,-14.125c7.80171,0 14.125,6.32329 14.125,14.125z"
                    fill="url(#color-4_UveN44WODIpA_gr4)"></path>
                  <path
                    d="M108.29167,18.83333h9.41667c41.60754,0 75.33333,33.72579 75.33333,75.33333v32.95833h9.41667v-32.95833c0,-46.80554 -37.94446,-84.75 -84.75,-84.75h-9.41667c-2.599,0 -4.70833,2.10933 -4.70833,4.70833v0c0,2.599 2.10933,4.70833 4.70833,4.70833z"
                    fill="#20628a"></path>
                  <path
                    d="M202.45833,108.29167l6.65758,6.65758c1.76563,1.76563 2.75908,4.16217 2.75908,6.65758v25.15662c0,2.49542 -0.99346,4.89196 -2.75908,6.65758l-6.65758,6.66229z"
                    fill="#20628a"></path>
                  <path
                    d="M202.45833,160.08333h-14.125c-5.20271,0 -9.41667,-4.21396 -9.41667,-9.41667v-32.95833c0,-5.20271 4.21396,-9.41667 9.41667,-9.41667h14.125z"
                    fill="#20628a"></path>
                  <rect x="41" y="23" transform="scale(4.70833,4.70833)" width="2" height="11"
                    fill="url(#color-5_UveN44WODIpA_gr5)"></rect>
                </g>
              </g>
            </svg>
          </div>
          <div class="info">
            <span>GET TOP NOTCH</span>
            <h4>SUPPORT</h4>
            <p>Maximize your earning potential with our popular amazing support center.</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- testimonial videos  -->

  <div class="container-fluid testimonial-wrapper">
    <div class="container testimonial-video">
      <h4>TESTIMONIAL</h4>
      <h2>OVER 700,000 HAPPY CUSTOMERS</h2>
      <p>We have many happy investors invest with us. Some video testimonials from our lovely Customers!</p>
      <div class="row row-cols-2 row-cols-sm-3 row-cols-md-4">
        <div class="col gs_reveal">
          <video width="200" controls>
            <source src="/videos/333.mp4" type="video/mp4">
          </video>
        </div>
        <div class="col gs_reveal">
          <video width="200" controls>
            <source src="/videos/444.mp4" type="video/mp4">
          </video>
        </div>
        <div class="col gs_reveal">
          <video width="200" controls>
            <source src="/videos/2728.mp4" type="video/mp4">
          </video>
        </div>
        <div class="col gs_reveal">
          <video width="200" controls>
            <source src="/videos/5708.mp4" type="video/mp4">
          </video>
        </div>
      </div>
    </div>
  </div>

  <!-- grid-section -->
  <div class="container mb-3">
    <div class="wrapper-header d-flex gs_reveal">
      <h4>Economic Research</h4>
      <i class="fas fa-chevron-right"></i>
    </div>
    <div class="row row-cols-2 row-cols-sm-3 row-cols-md-4 text-black grid-section">
      <div class="col card fed-card gs_reveal">
        <div>
          <h5 class="fed-title">Will Fed Rate Hikes Beat Expectations, Again?</h5>
          <p class="fed-info">The current consensus on inflation, employment, and interest rate outlooks see
          </p>

          <p class="fed-date">03 JAN 2022</p>
          <p class="fed-author">By Eric Kohn</p>
        </div>
      </div>

      <div class="col card gs_reveal">
        <div>
          <h5 class="card-title">Roblox, Nvidia, Airbnb, ViacomCBS: What to Watch in the Stock Market Today
          </h5>
          <p class="card-info">Roblox’s quarterly results came in below forecasts; Earnings are due from
            Nvidia after the close.
          </p>

          <p class="card-date">03 FEB 2022</p>
          <p class="card-author ">By Ann Joe</p>
        </div>
      </div>
      <div class="col card gs_reveal">
        <div>
          <h5 class="card-title">Twitter, Disney, Mattel, Twilio, Tesla: What to Watch in the Stock Market
            Today</h5>
          <p class="card-info">Disney added nearly 12 million subscribers to its streaming service; Mattel
            reported better-than-expected earnings
            during the holidays.
          </p>

          <p class="card-date">08 FEB 2022</p>
          <p class="card-author">By Fred Robert</p>
        </div>
      </div>
      <div class="col card gs_reveal">
        <div>
          <h5 class="card-title">Nasdaq Jumps 25% as Stocks Extend Rally</h5>
          <p class="card-info">The S&P 500 rose and government-bond yields fell following a recent climb,
            potentially easing some pressure on
            technology shares.
          </p>

          <p class="card-date">15 FEB 2022</p>
          <p class="card-author ">By Hardika Singh</p>
        </div>
      </div>

    </div>
  </div>

  <div class="container company-grid mb-2">
    <div class="row row-cols-2 row-cols-sm-3 row-cols-md-4 text-black container my-lg-5 my-3">
      <div class="col gs_reveal">
        <h6>COMPANY</h6>
        <p>About Us</p>
        <p>Careers</p>
      </div>
      <div class="col gs_reveal">
        <h6>HELP CENTER</h6>
        <p>Faq</p>
        <p>Contact Us</p>
      </div>
      <div class="col gs_reveal">
        <h6>MY ACCOUNT</h6>
        <p>Safety & Security</p>
        <p>Privacy Policy</p>
      </div>
      <div class="col gs_reveal">
        <h6>COMPANY</h6>
        <p>Media Room</p>
        <p>Careers</p>
      </div>

    </div>
  </div>

  <button type="button" class="btn btn-lg" id="btn-back-to-top">
    <i class="fa fa-rocket"></i>
  </button>

  <%- include("partials/footer"); -%>