<%- include("partials/header"); -%>

  <style>
    body,
    html {
      height: 100vh;
      width: 100%;
      margin: 0;
      color: #000000;
      overflow: hidden;
    }

    .reset-form {
      box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
      border-radius: 8px;
      padding: 8px 15px;
      background-color: transparent;
      height: 50%;
      text-align: center;
    }

    .btn {
      background-color: #20628a;
      color: #FFFF;
      border: none;
      padding: 6px 20px;
      width: 100%;
    }

    .reset-form img {
      height: 150px;
      width: 150px;
    }

    input[type='email']:focus {
      border-color: #20628a;
    }

    .display-response {
      background-color: #112b4aa2;
      color: #fff;
      border-radius: 5px;
      padding: 5px 10px;
      display: block !important;
    }

    .hide {
      display: none;
    }

    .display-response.error {
      display: none !important;
    }



    /* Extra small devices (phones, 600px and down) */
    @media only screen and (max-width: 800px) {

      .reset-form {
        height: 50%;
        width: 95% !important;
        margin-top: 20vh;
        padding: 65px 70px;
      }

      .reset-form img {
        height: 55%;
        width: 75%;
        margin-bottom: 25px;
      }
    }

    @media only screen and (min-width: 992px) {
      .reset-form {
        height: 50%;
        width: 50%;
        margin-top: 15vh;
        padding: 70px 100px;
      }

      .reset-form img {
        height: 50%;
        width: 70%;
        margin-bottom: 20px;
        margin-top: 100px;
      }

      .btn {
        margin-bottom: 150px;
      }
    }
  </style>


  <div class="container reset-form mx-auto justify-content-center align-items-center w-50 d-flex flex-column">
    <img src="/images/undraw_forgot_password_re_hxwm.svg">
    <form action="/resetpassword" method="post">
      <h4>Reset your password</h4>
      <div class="mb-3">
        <p>Enter your registered email below to receive a password reset instruction</p>
        <p id="response">
          <%= message %>
        </p>

        <input type="email" name="email" class="form-control shadow-none" id="exampleFormControlInput1"
          placeholder="Email address" required>
      </div>
      <button type="submit" class="btn shadow-none">Reset password</button>
    </form>
  </div>

  <script type="text/javascript">
    const response = document.getElementById('response');

    if () {
      response.classList.add('display-response');
    } else if (response.innerHTML.length < 0) {
      response.classList.add('display-response.error');
    }

  </script>