@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;1,400;1,500&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400&family=Roboto:ital,wght@0,400;0,500;0,700;1,400;1,500&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;1,400&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Thasadith:wght@700&display=swap');

* {
  box-sizing: border-box;
}

:root {
  --white: #fff;
  --orange: #fd7e14;
  --grey: #6c757d;
  --green: #00e473;
  --yellow: rgb(227, 233, 53);
  --footer-color: #3cc8ff;
  --footer-background-color: #3a464f;
  --btn-background: rgb(60, 200, 255);
  --btn-button: #20628a;
}

.goog-te-gadget-simple {
  border: none !important;
  background-color: transparent !important;
}

.goog-te-gadget-simple .goog-te-menu-value span {
  color: white !important;
}

.btn-danger {
  background-color: var(--footer-color) !important;
  border-color: var(--footer-color) !important;
  color: #fff;
}

html,
body {
  margin: 0;
  height: 100%;
  max-width: 100%;
  background-color: white !important;
  color: var(--white);
  /* font-family: 'Roboto', sans-serif; */
  /* font-family: 'Lato', sans-serif; */
  font-family: 'Poppins', sans-serif;
}

.hero {
  padding-top: 60px;
  height: 70vh;
  background-image: url(./images/hero.png);
  background-color: rgba(0, 0, 0, 0);
  background-position: center top;
  background-size: cover;
}

.offcanvas-top {
  height: 60% !important;
}

.gradient-section {
  background-image: linear-gradient(to bottom, #20628a 0%, #112b4a 15%);
}

.gradient-section h3 {
  color: rgb(227, 233, 53);
  font-size: 0.85em;
}

.row > * {
  padding-right: 0 !important;
  padding-left: 0 !important;
}

h1.market-title {
  color: var(--yellow);
}

h6.market-date {
  font-style: italic;
  font-size: 0.75em;
}

.gradient-1 {
  background-color: rgb(31, 54, 85);
  border-left: 0.375rem solid rgb(31, 54, 85);
  border-color: rgb(60, 211, 29);
  margin-left: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  height: 50vh !important;
  /* color: white !important; */
}

button a {
  text-decoration: none;
  color: white;
}

.nav-link {
  color: white !important;
  text-transform: uppercase;
  margin-right: 30px;
}

.offcanvas-header {
  padding-left: 25px !important;
  padding-top: 30px !important;
}

.offcanvas-body {
  padding-left: 33px !important;
  padding-top: 10px !important;
}

button.btn-close {
  font-size: 1.5em !important;
  color: #20628a !important;
}

.offcanvas {
  color: black;
}

a.item-canvas {
  color: black !important;
}

.accordi::after {
  content: ' ';
  background-image: linear-gradient(
    rgba(0, 0, 0, 0) 0%,
    rgba(60, 200, 255, 1) 100%
  ) !important;
  background-size: contain;
  background-position: bottom !important;
  /* padding-top: 20px; */
}

.ratings {
  color: gold !important;
}

.blockquote p {
  color: black;
}

/* back to top  */
#btn-back-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: none;
  z-index: 99;
  background-color: var(--btn-background);
  border-radius: 50%;
  padding: 10px;
}

i.fa-rocket {
  transform: rotate(-45deg);
  color: var(--white);
  font-size: 1.7em;
}

.btn-backToTop {
  background-color: var(--btn-background);
  border-radius: 50%;
  padding: 12px;
}

.fa-arrow-up {
  font-size: 30px;
}

.grid-section {
  grid-gap: 10px;
  margin: 40px 0 !important;
  display: flex;
  flex-wrap: nowrap !important;
  overflow-x: scroll !important;
}

div.col {
  color: black;
}

.card {
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}

/* accordion */

.accordion {
  background-color: rgba(22, 32, 42, 0.8);
  text-transform: uppercase;
  color: #fff;
  border-color: #fff;
  border-width: 0 0 0.125rem !important;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  padding: 0 1.5rem;
  text-align: left;
  font-size: 15px;
  height: 2.5rem;
  transition: 0.4s;
  z-index: 4;
}

.wrapper-header {
  color: black !important;
  align-items: center;
}

.wrapper-header h4 {
  padding-top: 6px;
}

.fa-chevron-right {
  font-size: 1.5em;
  margin-left: 5px;
  color: var(--btn-button);
}

/* footer */
h6#footer-copyright {
  font-size: 0.65em;
  color: rgb(60, 200, 255);
}

.footer-top p {
  font-size: 0.85em !important;
}

button.active {
  color: black !important;
  background-color: #fff !important;
}

.accordion:hover {
  background-color: #ccc;
}

.accordion:after {
  content: '\002B';
  /* color: #777; */
  font-weight: bold;
  clear: both;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: '\2212';
}

.fa-user {
  font-size: 25px;
}

button.navbar-toggler {
  color: white !important;
}

.panel {
  padding: 0 18px;
  background-color: white;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  z-index: 4 !important;
  position: absolute !important;
}

.panel p {
  color: black;
  padding-top: 10px;
  padding-bottom: 10px;
}

.btn-login {
  background-color: var(--btn-button);
  border-color: var(--btn-button);
  padding: 5px 20px;
  border-radius: 5px;
  color: var(--white);
  text-transform: uppercase;
}

i.fa-bars {
  color: #20628a !important;
  font-size: 30px !important;
}

.gs_reveal {
  opacity: 0;
  visibility: hidden;
  will-change: transform, opacity;
}

.investment-container {
  width: 100%;
  box-shadow: 0px 5px 15px 0px rgb(59 55 188 / 50%);
  background-color: #fff;
  border-radius: 10px;
  padding: 50px 30px;
  margin-bottom: 20px;
  align-items: center;
}

.investment-wrapper {
  padding: 5px 15px;
  color: black !important;
  justify-content: center;
}

.features-header {
  color: black !important;
  text-align: center;
}

.features-header h4,
.customers-header h4,
.aff-left h4,
.testimonial-video h4 {
  color: var(--btn-button);
  text-transform: uppercase;
  font-size: 24px;
}

.features-header h2,
.customers-header h2,
.aff-left h2,
.testimonial-video h2 {
  font-family: 'Thasadith', sans-serif;
  font-size: 50px;
}

.feature-item {
  border: 1px solid #e5e5e5;
  background-color: #ffffff;
  padding: 20px 30px;
  color: black !important;
  margin-right: 30px;
  animation: fadeIn 0.5s ease-in-out;
}

.feature-item:hover {
  box-shadow: 0px 5px 15px 0px var(--btn-button);
  background-color: #fff;
}

.feature-item a {
  text-decoration: none;
  color: var(--btn-button);
  font-weight: 500;
}

.feature-img {
  margin-right: 25px;
  height: 100px;
  align-items: center;
  justify-content: center;
}

.feature-img img {
  width: 80px;
  height: 75px;
  align-items: center;
  justify-content: center;
  margin: 5px;
}

.customers {
  background-image: url('/images/choose-us-bg-shape.png');
  background-repeat: no-repeat;
  background-size: cover;
}

.customers-header {
  color: black;
  text-align: center;
}

table.table {
  box-shadow: 0px 5px 10px 0px rgb(14 35 107 / 30%) !important;
}

table thead tr {
  background-color: #eef4fb !important;
  padding: 20px 30px;
  text-transform: uppercase;
  text-align: left;
}

.table > :not(caption) > * > * {
  padding: 1.5rem 1.5rem !important;
}

table tbody tr:hover {
  border-top: 1px solid var(--btn-button);
  border-bottom: 1px solid var(--btn-button);
}

.investment-wrapper img {
  height: 80px;
  width: 80px;
  margin-right: 10px;
}

.btn-login:hover {
  background-color: var(--white);
  color: var(--btn-background);
}

.fed-card {
  background-image: url(/images/will-updates.jpg) !important;
  background-position: center !important;
  background-repeat: no-repeat;
  background-size: cover;
  color: var(--white) !important;
}

.offcanvas-top {
  height: 60% !important;
}

h5.hero-info {
  color: rgb(227, 233, 53) !important;
}

.translate-bg {
  background-color: #112b4a;
  padding: 0.5em;
}

a.nav-link {
  color: #20628a !important;
  font-weight: 500 !important;
  font-size: 14px !important;
}

h6.need-help {
  color: rgba(253, 249, 249, 0.669) !important;
}

.footer {
  background-color: var(--btn-button);
  padding: 40px 30px;
  left: 0;
  bottom: 0;
}

.contact-us {
  display: flex;
  flex-direction: column;
  padding: 10px auto !important;
}

p.contact-header {
  margin-bottom: 0 !important;
}

.contact-header {
  font-size: 12px;
}

.testimonial-section {
  background-image: url(/images/affiliate-shape.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right;
  padding: 20px 10px;
}

.aff-features-items {
  padding: 30px 50px;
  border: 1px solid rgba(139, 139, 139, 0.5);
  border-radius: 10px;
  background-color: #ffffff;
  z-index: 9;
}

.aff-features-items .icon {
  border: 1px solid rgb(139, 139, 139);
  display: inline-block;
  width: 100px;
  height: 100px;
  line-height: 100px;
  margin-bottom: 30px;
  border-radius: 50%;
}

.aff-features-items,
.aff-left {
  color: black;
}

.info span {
  font-size: 12px;
  font-weight: 500;
  color: var(--btn-button);
}

.testimonial-wrapper {
  color: black;
  text-align: center;
  background-image: url(/images/contest-shape.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right;
}

.testimonial-video {
  padding: 40px 20px;
}

/* register form */

@media only screen and (max-width: 600px) {
  .btn-login {
    margin: 10px auto !important;
  }

  .border-line {
    border-top: 1px solid #a09f9f;
    margin-top: 20px;
    padding-top: 20px;
    width: 100%;
  }

  .features-header h2,
  .customers-header h2,
  .aff-left h2,
  .testimonial-video h2 {
    font-size: 30px !important;
  }

  .features-header h4,
  .customers-header h4,
  .aff-left h4,
  .testimonial-video h4 {
    font-size: 18px !important;
  }

  .blockquote p {
    font-size: 16px;
    font-weight: 500;
    padding: 5px 8px;
  }

  img.navbar-brand {
    height: auto;
    width: 70%;
  }

  .left-text {
    padding: 2px 15px;
  }

  .gradient-1 {
    margin: 15px;
  }

  .market-title,
  .market-desc,
  .market-info,
  .market-quotes,
  .market-date {
    padding: 0 20px;
  }

  h1.market-title {
    font-size: 1.2em;
  }

  h1.hero-title {
    margin-bottom: 15px;
    font-size: 1.5rem;
  }

  h5.hero-info {
    margin-bottom: 0 !important;
  }

  h5.hero-info {
    color: rgb(227, 233, 53);
  }

  .features-header h2,
  .customers-header h2,
  .aff-left h2,
  .testimonial-video h2 {
    font-size: 30px;
  }

  p.hero-help {
    font-weight: semi-bold;
  }

  .footer-icons {
    justify-content: center;
  }

  .email-content {
    justify-content: center;
  }
}

/* Medium devices (landscape tablets, 600px and up) */
@media only screen and (max-width: 768px) {
  .market-title,
  .market-desc,
  .market-info,
  .market-quotes,
  .market-date {
    margin-left: 20px;
  }

  .aff-features-items {
    margin-bottom: 30px;
    height: auto;
  }

  .hero {
    height: 55vh;
  }

  .investment-container {
    width: 90%;
  }

  .features-header p,
  .testimonial-video p {
    padding: 5px 20px;
  }

  .aff-left {
    text-align: center;
  }

  .border-line {
    border-top: 1px solid #a09f9f;
    margin-top: 20px;
    padding-top: 20px;
    width: 100%;
  }

  .feature-item {
    margin-bottom: 20px !important;
    margin-right: 0 !important;
  }

  .investment-wrapper img {
    height: 65px;
    width: 65px;
  }

  .card {
    padding: 20px !important;
  }

  .email-content {
    justify-content: center;
  }

  .market-desc {
    width: 80%;
  }

  .hero-title {
    margin-bottom: 10px;
  }

  .features-header h2,
  .customers-header h2,
  .aff-left h2,
  .testimonial-video h2 {
    font-size: 40px;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 768px) {
  .section-about {
    width: 80%;
    justify-content: center;
    margin: 10px auto;
  }

  .aff-features-items {
    height: 27em;
    margin-left: 30px;
  }

  p.hero-help {
    width: 60%;
  }

  .features-header p,
  .customers-header p,
  .testimonial-video p {
    padding: 10px 12rem;
  }

  .card {
    padding: 35px !important;
  }

  .feature-item {
    margin-bottom: 20px !important;
  }

  .contact-us {
    display: flex;
    flex-direction: row;
  }

  .border-right {
    border-right: 1px solid #a09f9f;
  }

  .grid-section {
    overflow: visible !important;
  }

  .market-title,
  .market-desc,
  .market-info,
  .market-quotes,
  .market-date {
    margin-top: 20px;
    margin-left: 30px;
    display: flex;
    flex-direction: column;
  }

  .hero-title {
    width: 80%;
    /* margin-top: 15px; */
    /* margin-bottom: 30px; */
  }

  .gradient-section > h1 {
    font-size: 2em;
    width: 80%;
    word-wrap: break-word;
  }
}
